# Recipe 1: Reading from CSVs and Other Delimited Files

In [1]:
import pandas as pd
from pathlib import Path
pd.__version__

'2.2.3'

In [3]:
filepath = Path('../../datasets/Ch2/movieboxoffice.csv')

In [5]:
# read movieboxoffice.csv data and parse the Date column (first column) as date
ts = pd.read_csv(filepath,
                 header=0,
                 parse_dates=[0],
                 index_col=0,
                 usecols=['Date',
                          'DOW',
                          'Daily',
                          'Forecast',
                          'Percent Diff'])
print(ts.head())

                 DOW         Daily      Forecast Percent Diff
Date
2021-04-26    Friday  $125,789.89   $235,036.46       -46.48%
2021-04-27  Saturday   $99,374.01   $197,622.55       -49.72%
2021-04-28    Sunday   $82,203.16   $116,991.26       -29.74%
2021-04-29    Monday   $33,530.26    $66,652.65       -49.69%
2021-04-30   Tuesday   $30,105.24    $34,828.19       -13.56%

In [7]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 128 entries, 2021-04-26 to 2021-08-31
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DOW           128 non-null    object
 1   Daily         128 non-null    object
 2   Forecast      128 non-null    object
 3   Percent Diff  128 non-null    object
dtypes: object(4)
memory usage: 5.0+ KB

**Data Cleanup**

In [10]:
ts.dtypes

DOW             object
Daily           object
Forecast        object
Percent Diff    object
dtype: object

In [12]:
clean = lambda x: x.str.replace('[^\\d.-]', '', regex=True)                                                      
c_df = ts[['Daily', 'Forecast', 'Percent Diff']].apply(clean, axis=1)
ts[['Daily', 'Forecast', 'Percent Diff']] = c_df.astype(float)

In [14]:
ts.head()

                 DOW      Daily   Forecast  Percent Diff
Date
2021-04-26    Friday  125789.89  235036.46        -46.48
2021-04-27  Saturday   99374.01  197622.55        -49.72
2021-04-28    Sunday   82203.16  116991.26        -29.74
2021-04-29    Monday   33530.26   66652.65        -49.69
2021-04-30   Tuesday   30105.24   34828.19        -13.56

In [16]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 128 entries, 2021-04-26 to 2021-08-31
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DOW           128 non-null    object
 1   Daily         128 non-null    float64
 2   Forecast      128 non-null    float64
 3   Percent Diff  128 non-null    float64
dtypes: float64(3), object(1)
memory usage: 5.0+ KB

In [18]:
ts.memory_usage()

Index           1024
DOW             1024
Daily           1024
Forecast        1024
Percent Diff    1024
dtype: int64

In [20]:
ts.memory_usage().sum()

5120

In [22]:
pd.read_csv(filepath).columns

Index(['Date', 'DOW', 'Rank', 'Daily', 'Percent Change', 'Diff (k)',
       'Forecast', 'Percent Diff', 'Theaters', 'To Date', 'Row ID'],
      dtype='object')

In [24]:
col_names = ['Date', 'Day Name', 'Daily BO', 'Forecast BO']
df = pd.read_csv(filepath, 
                 parse_dates=[0],
                 index_col=0,
                 header=0, 
                 names=col_names, 
                 usecols=[0, 1, 3, 6])
print(df.head())

            Day Name      Daily BO   Forecast BO
Date
2021-04-26    Friday  $125,789.89   $235,036.46
2021-04-27  Saturday   $99,374.01   $197,622.55
2021-04-28    Sunday   $82,203.16   $116,991.26
2021-04-29    Monday   $33,530.26    $66,652.65
2021-04-30   Tuesday   $30,105.24    $34,828.19

In [26]:
col_names = {
    'Date': 'Date',
    'DOW': 'Day Name',
    'Daily': 'Daily BO',
    'Forecast': 'Forecast BO'
}

df = pd.read_csv(filepath, 
                 parse_dates=[0],
                 index_col=0,
                 usecols=col_names.keys())
df.rename(columns=col_names, inplace=True)

print(df.head())

            Day Name      Daily BO   Forecast BO
Date
2021-04-26    Friday  $125,789.89   $235,036.46
2021-04-27  Saturday   $99,374.01   $197,622.55
2021-04-28    Sunday   $82,203.16   $116,991.26
2021-04-29    Monday   $33,530.26    $66,652.65
2021-04-30   Tuesday   $30,105.24    $34,828.19

## Using `date_parser`

In [29]:
ts.dtypes

DOW              object
Daily           float64
Forecast        float64
Percent Diff    float64
dtype: object

using the `date_format` parameter

In [32]:
ts = pd.read_csv(filepath,
                 parse_dates=[0],
                 index_col=0,
                 date_format="%d-%b-%Y",
                 usecols=[0,1,3, 7, 6])
print(ts.head())

                 DOW         Daily      Forecast Percent Diff
Date
2021-04-26    Friday  $125,789.89   $235,036.46       -46.48%
2021-04-27  Saturday   $99,374.01   $197,622.55       -49.72%
2021-04-28    Sunday   $82,203.16   $116,991.26       -29.74%
2021-04-29    Monday   $33,530.26    $66,652.65       -49.69%
2021-04-30   Tuesday   $30,105.24    $34,828.19       -13.56%

In [34]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 128 entries, 2021-04-26 to 2021-08-31
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DOW           128 non-null    object
 1   Daily         128 non-null    object
 2   Forecast      128 non-null    object
 3   Percent Diff  128 non-null    object
dtypes: object(4)
memory usage: 5.0+ KB

Using `pd.to_datetime()` function

In [37]:
ts = pd.read_csv(filepath,
                 index_col=0,
                 usecols=[0,1,3, 7, 6])

ts.index = pd.to_datetime(ts.index, format="%d-%b-%Y")
ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 128 entries, 2021-04-26 to 2021-08-31
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DOW           128 non-null    object
 1   Daily         128 non-null    object
 2   Forecast      128 non-null    object
 3   Percent Diff  128 non-null    object
dtypes: object(4)
memory usage: 5.0+ KB

In [39]:
# NOTE: date_parser is deprecated since version 2.0.0 

# date_parser = lambda x: pd.to_datetime(x, format="%d-%b-%Y")
# ts = pd.read_csv(filepath,
#                  parse_dates=[0],
#                  index_col=0,
#                  date_parser=date_parser,
#                  usecols=[0,1,3, 7, 6])
# ts.head()

In [41]:
ts = pd.read_csv(filepath,
                 header=0,
                 parse_dates=['Date'],
                 index_col=0,
                 #infer_datetime_format= True, # infer_datetime_format is deprecated since version 2.0.0 (already the default)
                 usecols=['Date',
                          'DOW',
                          'Daily',
                          'Forecast',
                          'Percent Diff'])
ts.head()

                 DOW         Daily      Forecast Percent Diff
Date
2021-04-26    Friday  $125,789.89   $235,036.46       -46.48%
2021-04-27  Saturday   $99,374.01   $197,622.55       -49.72%
2021-04-28    Sunday   $82,203.16   $116,991.26       -29.74%
2021-04-29    Monday   $33,530.26    $66,652.65       -49.69%
2021-04-30   Tuesday   $30,105.24    $34,828.19       -13.56%

# Recipe 2: Reading data from an Excel file
* Learn how to read data from Excel files using pandas 
* Learn how to read from multiple sheets into DataFrames

* To install openpyxl using conda, run the following command in the terminal:

```
conda install openpyxl
```
* To install using pip, run the following command:

```
pip install openpyxl
```

In [45]:
#!conda install openpyxl -y
#!pip install openpyxl

In [47]:
import pandas as pd
from pathlib import Path
filepath = Path('../../datasets/Ch2/sales_trx_data.xlsx')

In [49]:
filepath.exists()

True

In [51]:
import openpyxl
openpyxl.__version__

'3.1.5'

In [52]:
excelfile = pd.ExcelFile(filepath)
excelfile.sheet_names

['2017', '2018']

In [55]:
excelfile.parse('2017')

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,2017-01-01,7437926611570790,1,spicy miso ramen
1,2,2017-01-01,7437926611570790,1,spicy miso ramen
2,3,2017-01-01,8421920068932810,3,tori paitan ramen
3,4,2017-01-01,8421920068932810,3,tori paitan ramen
4,5,2017-01-01,4787310681569640,1,truffle butter ramen
...,...,...,...,...,...
36759,36760,2017-12-31,3149176814183170,4,vegetarian curry + king trumpet mushroom ramen
36760,36761,2017-12-31,2005206728506200,1,tonkotsu ramen
36761,36762,2017-12-31,2005206728506200,1,tonkotsu ramen
36762,36763,2017-12-31,1130414909788170,2,soft-shell miso crab ramen
36763,36764,2017-12-31,1130414909788170,2,soft-shell miso crab ramen

In [56]:
ts = pd.read_excel(filepath,
                    engine='openpyxl',
                    index_col=1,
                    sheet_name=[0,1],
                    parse_dates=True)
ts.keys()

dict_keys([0, 1])

In [58]:
ts = pd.read_excel(filepath,
                    engine='openpyxl',
                    index_col=1,
                    sheet_name=['2017','2018'],
                    parse_dates=True)
ts.keys()

dict_keys(['2017', '2018'])

In [59]:
ts = pd.read_excel(filepath,
                    engine='openpyxl',
                    index_col=1,
                    sheet_name=None,
                    parse_dates=True)
ts.keys()

dict_keys(['2017', '2018'])

In [60]:
ts['2017'].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 36764 entries, 2017-01-01 to 2017-12-31
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Line_Item_ID        36764 non-null  int64
 1   Credit_Card_Number  36764 non-null  int64
 2   Quantity            36764 non-null  int64
 3   Menu_Item           36764 non-null  object
dtypes: int64(3), object(1)
memory usage: 1.4+ MB

In [61]:
ts['2018'].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 37360 entries, 2018-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Line_Item_ID        37360 non-null  int64
 1   Credit_Card_Number  37360 non-null  int64
 2   Quantity            37360 non-null  int64
 3   Menu_Item           37360 non-null  object
dtypes: int64(3), object(1)
memory usage: 1.4+ MB

In [63]:
ts_combined = pd.concat([ts['2017'],ts['2018']])

In [65]:
ts_combined.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 74124 entries, 2017-01-01 to 2018-12-31
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Line_Item_ID        74124 non-null  int64
 1   Credit_Card_Number  74124 non-null  int64
 2   Quantity            74124 non-null  int64
 3   Menu_Item           74124 non-null  object
dtypes: int64(3), object(1)
memory usage: 2.8+ MB

In [66]:
pd.concat(ts).index

MultiIndex([('2017', '2017-01-01'),
            ('2017', '2017-01-01'),
            ('2017', '2017-01-01'),
            ('2017', '2017-01-01'),
            ('2017', '2017-01-01'),
            ('2017', '2017-01-01'),
            ('2017', '2017-01-01'),
            ('2017', '2017-01-01'),
            ('2017', '2017-01-01'),
            ('2017', '2017-01-01'),
            ...
            ('2018', '2018-12-31'),
            ('2018', '2018-12-31'),
            ('2018', '2018-12-31'),
            ('2018', '2018-12-31'),
            ('2018', '2018-12-31'),
            ('2018', '2018-12-31'),
            ('2018', '2018-12-31'),
            ('2018', '2018-12-31'),
            ('2018', '2018-12-31'),
            ('2018', '2018-12-31')],
           names=[None, 'Date'], length=74124)

In [67]:
ts_combined = pd.concat(ts).droplevel(level=0)
print(ts_combined.head())

            Line_Item_ID  Credit_Card_Number  Quantity             Menu_Item
Date
2017-01-01             1    7437926611570790         1      spicy miso ramen
2017-01-01             2    7437926611570790         1      spicy miso ramen
2017-01-01             3    8421920068932810         3     tori paitan ramen
2017-01-01             4    8421920068932810         3     tori paitan ramen
2017-01-01             5    4787310681569640         1  truffle butter ramen

In [68]:
ts = pd.read_excel(filepath,
                   index_col=1,
                   sheet_name='2018',
                   parse_dates=True)
type(ts)

pandas.core.frame.DataFrame

In [76]:
ts = pd.read_excel(filepath,
                   index_col=1,
                   sheet_name=['2018'],
                   parse_dates=True)
type(ts)

dict

In [77]:
ts = pd.read_excel(filepath,
                   index_col=1,
                   sheet_name=[1],
                   parse_dates=True)
type(ts)

dict

## There is more
* Using `ExcelFile`

In [81]:
excelfile = pd.ExcelFile(filepath)
excelfile.parse(sheet_name='2017',
                index_col=1,
                parse_dates=True).head()

            Line_Item_ID  Credit_Card_Number  Quantity             Menu_Item
Date
2017-01-01             1    7437926611570790         1      spicy miso ramen
2017-01-01             2    7437926611570790         1      spicy miso ramen
2017-01-01             3    8421920068932810         3     tori paitan ramen
2017-01-01             4    8421920068932810         3     tori paitan ramen
2017-01-01             5    4787310681569640         1  truffle butter ramen

In [82]:
print(excelfile.parse(sheet_name='2017',
                index_col=1,
                parse_dates=True).head())

            Line_Item_ID  Credit_Card_Number  Quantity             Menu_Item
Date
2017-01-01             1    7437926611570790         1      spicy miso ramen
2017-01-01             2    7437926611570790         1      spicy miso ramen
2017-01-01             3    8421920068932810         3     tori paitan ramen
2017-01-01             4    8421920068932810         3     tori paitan ramen
2017-01-01             5    4787310681569640         1  truffle butter ramen

# Recipe 3: Reading data from a URL
* Learn how to read data as a DataFrame from GitHub
* Learn how to read data as a DataFrame from AWS S3 using `pandas`
* Learn how to read an HTML page and extract tables using `pandas`

In [86]:
#!conda install boto3 s3fs html5lib lxml -y
#!pip install boto3 s3fs html5lib lxml

* To install using pip, you can use the following command:

```
pip install boto3 s3fs lxml
```

* To install using Conda, you can use:

```
conda install boto3 s3fs lxml -y
```

In [89]:
import pandas as pd

In [91]:
import pandas as pd
import boto3, s3fs, lxml
print(f'''
pandas -> {pd.__version__}
boto3 -> {boto3.__version__}
s3fs -> {s3fs.__version__}
lxml -> {lxml.__version__}
''')

pandas -> 2.2.3
boto3 -> 1.36.1
s3fs -> 2024.12.0
lxml -> 5.3.0

## Reading from GitHub

In [93]:
# example of produced error
url = 'https://github.com/PacktPublishing/Time-Series-Analysis-with-Python-Cookbook-Second-Edition/blob/main/datasets/Ch2/AirQualityUCI.csv'
# pd.read_csv(url)

In [95]:
url = 'https://raw.githubusercontent.com/PacktPublishing/Time-Series-Analysis-with-Python-Cookbook-Second-Edition/refs/heads/main/datasets/Ch2/AirQualityUCI.csv'

df = pd.read_csv(url,
                 delimiter=';',
                 parse_dates=['Date'],
                 index_col='Date')

df.iloc[:3,1:4]

            CO(GT)  PT08.S1(CO)  NMHC(GT)
Date
10/03/2004     2.6      1360.00       150
10/03/2004     2.0      1292.25       112
10/03/2004     2.2      1402.00        88

In [97]:
print(df.iloc[:5, 0:5])

                Time  CO(GT)  PT08.S1(CO)  NMHC(GT)   C6H6(GT)
Date
10/03/2004  18:00:00     2.6      1360.00       150  11.881723
10/03/2004  19:00:00     2.0      1292.25       112   9.397165
10/03/2004  20:00:00     2.2      1402.00        88   8.997817
10/03/2004  21:00:00     2.2      1375.50        80   9.228796
10/03/2004  22:00:00     1.6      1272.25        51   6.518224

## Reading from Public S3 Bucket

**Path-style access**

In [101]:
import pandas as pd

url = 'https://s3.us-east-1.amazonaws.com/tscookbook/AirQualityUCI.xlsx'

df = pd.read_excel(url,
                   index_col='Date',
                   parse_dates=True)
df.head()

,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
Date,,,,,,,,,,,,,,
2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.60,48.875001,0.757754
2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.30,47.700000,0.725487
2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.90,53.975000,0.750239
2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.00,60.000000,0.786713
2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.15,59.575001,0.788794

**Virtual-hostedâ€“style access**

In [103]:
url = 'https://tscookbook.s3.amazonaws.com/AirQualityUCI.xlsx'

df = pd.read_excel(url,
                   index_col='Date',
                   parse_dates=True)
df.head()

,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
Date,,,,,,,,,,,,,,
2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.60,48.875001,0.757754
2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.30,47.700000,0.725487
2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.90,53.975000,0.750239
2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.00,60.000000,0.786713
2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.15,59.575001,0.788794

**Accessing a bucket using S3://**

In [105]:
url = 's3://tscookbook/AirQualityUCI.xlsx'
df = pd.read_excel(url,
                   index_col='Date',
                   parse_dates=True)
df.head()

,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
Date,,,,,,,,,,,,,,
2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.60,48.875001,0.757754
2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.30,47.700000,0.725487
2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.90,53.975000,0.750239
2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.00,60.000000,0.786713
2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.15,59.575001,0.788794

In [249]:
print(df.iloc[:5, 0:5])

                Time  CO(GT)  PT08.S1(CO)  NMHC(GT)   C6H6(GT)
Date
2004-03-10  18:00:00     2.6      1360.00       150  11.881723
2004-03-10  19:00:00     2.0      1292.25       112   9.397165
2004-03-10  20:00:00     2.2      1402.00        88   8.997817
2004-03-10  21:00:00     2.2      1375.50        80   9.228796
2004-03-10  22:00:00     1.6      1272.25        51   6.518224

## Reading from Private S3 Bucket

In [251]:
import configparser
config = configparser.ConfigParser()
config.read('aws.cfg')

AWS_ACCESS_KEY = config['AWS']['aws_access_key']
AWS_SECRET_KEY = config['AWS']['aws_secret_key']

In [253]:
s3uri = "s3://tscookbook-private/AirQuality.csv"

df = pd.read_csv(s3uri,
                 index_col='Date',
                 parse_dates=True,
                 storage_options= {
                         'key': AWS_ACCESS_KEY,
                         'secret': AWS_SECRET_KEY
                     })

In [254]:
print(df.iloc[:5, 0:5])

                Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)
Date
2004-10-03  18.00.00    2,6       1360.0     150.0     11,9
2004-10-03  19.00.00      2       1292.0     112.0      9,4
2004-10-03  20.00.00    2,2       1402.0      88.0      9,0
2004-10-03  21.00.00    2,2       1376.0      80.0      9,2
2004-10-03  22.00.00    1,6       1272.0      51.0      6,5

**Using BOTO3**

In [257]:
import boto3
bucket = "tscookbook-private"
client = boto3.client("s3",
                  aws_access_key_id =AWS_ACCESS_KEY,
                  aws_secret_access_key = AWS_SECRET_KEY)

In [259]:
data = client.get_object(Bucket=bucket, Key='AirQuality.csv')

In [267]:
data

{'ResponseMetadata': {'RequestId': 'RFWR5VGCWQJQST96',
  'HostId': '7wZ/7Tkr9fc4NHpFFqQ2ETYl20MUkUpWs4YUyAA46DLxR4FbX0RDzcI9S8FbN8mr9N9TbiLD6Cw=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '7wZ/7Tkr9fc4NHpFFqQ2ETYl20MUkUpWs4YUyAA46DLxR4FbX0RDzcI9S8FbN8mr9N9TbiLD6Cw=',
   'x-amz-request-id': 'RFWR5VGCWQJQST96',
   'date': 'Tue, 03 Dec 2024 19:12:52 GMT',
   'last-modified': 'Mon, 14 Jun 2021 01:13:05 GMT',
   'etag': '"2ce337accfeb2dbbc6b76833bc6f84b8"',
   'accept-ranges': 'bytes',
   'content-type': 'binary/octet-stream',
   'content-length': '1012427',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'AcceptRanges': 'bytes',
 'LastModified': datetime.datetime(2021, 6, 14, 1, 13, 5, tzinfo=tzutc()),
 'ContentLength': 1012427,
 'ETag': '"2ce337accfeb2dbbc6b76833bc6f84b8"',
 'ContentType': 'binary/octet-stream',
 'Metadata': {},
 'Body': <botocore.response.StreamingBody at 0x153758970>}

In [260]:
data.keys()

dict_keys(['ResponseMetadata', 'AcceptRanges', 'LastModified', 'ContentLength', 'ETag', 'ContentType', 'Metadata', 'Body'])

In [263]:
df = pd.read_csv(data['Body'],
                 index_col='Date',
                 parse_dates=True)

In [265]:
print(df.iloc[:5, 0:5])

                Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)
Date
2004-10-03  18.00.00    2,6       1360.0     150.0     11,9
2004-10-03  19.00.00      2       1292.0     112.0      9,4
2004-10-03  20.00.00    2,2       1402.0      88.0      9,0
2004-10-03  21.00.00    2,2       1376.0      80.0      9,2
2004-10-03  22.00.00    1,6       1272.0      51.0      6,5

## Reading from HTML

In [107]:
import pandas as pd

In [109]:
url = "https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory"
results = pd.read_html(url)
print(len(results))

68

In [111]:
# for i, k in enumerate(results):
#     print(i)
#     display(k.head())

In [113]:
df = results[15]
df.columns

Index(['Region[30]', 'Total cases', 'Total deaths', 'Cases per million',
       'Deaths per million', 'Current weekly cases', 'Current weekly deaths',
       'Population millions', 'VacciÂ­natedÂ %[31]'],
      dtype='object')

In [115]:
cols = ['Region[30]','Total cases', 'Total deaths', 'Cases per million']
print(df[cols].head(3))

       Region[30]  Total cases  Total deaths  Cases per million
0  European Union    179537758       1185108             401363
1   North America    103783777       1133607             281404
2    Other Europe     57721948        498259             247054

## Example how `read_html()` works

In [118]:
from io import StringIO
import pandas as pd

In [120]:
html = """
 <table>
   <tr>
     <th>Ticker</th>
     <th>Price</th>
   </tr>
   <tr>
     <td>MSFT</td>
     <td>230</td>
   </tr>
   <tr>
     <td>APPL</td>
     <td>300</td>
   </tr>
     <tr>
     <td>MSTR</td>
     <td>120</td>
   </tr>
 </table>

 </body>
 </html>
 """

df = pd.read_html(StringIO(html))
df[0]

  Ticker  Price
0   MSFT    230
1   APPL    300
2   MSTR    120

## There is more

## Using `attr` option in `read.html()`

In [124]:
#!conda install html5lib beautifulSoup4 -y

In [130]:
import pandas as pd
url = "https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory"
df = pd.read_html(url, attrs={'class': 'sortable'})
len(df)

5

In [132]:
df[3].columns

Index(['Region[30]', 'Total cases', 'Total deaths', 'Cases per million',
       'Deaths per million', 'Current weekly cases', 'Current weekly deaths',
       'Population millions', 'VacciÂ­natedÂ %[31]'],
      dtype='object')

In [134]:
# !conda install dask # install everything
#!conda install dask-core # install only core parts of dash
#!python -m pip install "dask[complete]"    # Install everything
#!python -m pip install dask                # Install only core parts of dask

# Recipe 4 - Read data from Parquet files

In [137]:
# !conda list pyarrow

In [139]:
#!conda install -c conda-forge pyarrow -y

In [141]:
import pandas as pd
from pathlib import Path
pd.__version__

'2.2.3'

Reading the Parquet files

In [144]:
file = Path('../../datasets/Ch2/LA_weather.parquet/')
df = pd.read_parquet(file,
                    engine='pyarrow')

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4899 entries, 0 to 4898
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          4899 non-null   object
 1   NAME             4899 non-null   object
 2   DATE             4899 non-null   object
 3   PRCP             4899 non-null   float64
 4   PRCP_ATTRIBUTES  4899 non-null   object
 5   SNOW             121 non-null    float64
 6   SNOW_ATTRIBUTES  121 non-null    object
 7   SNWD             59 non-null     float64
 8   SNWD_ATTRIBUTES  59 non-null     object
 9   TAVG             3713 non-null   float64
 10  TAVG_ATTRIBUTES  3713 non-null   object
 11  TMAX             4899 non-null   int64
 12  TMAX_ATTRIBUTES  4899 non-null   object
 13  TMIN             4899 non-null   int64
 14  TMIN_ATTRIBUTES  4899 non-null   object
 15  DT               4899 non-null   datetime64[us]
 16  year             4899 non-null   category
dtypes: category(1), datetime64[us](1), float64(4), int64(2), object(9)
memory usage: 617.8+ KB

Reading a specific partition for year 2012

In [149]:
filters = [('year', '==', 2012)]
df_2012 = pd.read_parquet(file, 
                          engine='pyarrow', 
                          filters=filters)

Filtering to read files for years > 2020

In [152]:
df_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          366 non-null    object
 1   NAME             366 non-null    object
 2   DATE             366 non-null    object
 3   PRCP             366 non-null    float64
 4   PRCP_ATTRIBUTES  366 non-null    object
 5   SNOW             0 non-null      float64
 6   SNOW_ATTRIBUTES  0 non-null      object
 7   SNWD             0 non-null      float64
 8   SNWD_ATTRIBUTES  0 non-null      object
 9   TAVG             0 non-null      float64
 10  TAVG_ATTRIBUTES  0 non-null      object
 11  TMAX             366 non-null    int64
 12  TMAX_ATTRIBUTES  366 non-null    object
 13  TMIN             366 non-null    int64
 14  TMIN_ATTRIBUTES  366 non-null    object
 15  DT               366 non-null    datetime64[us]
 16  year             366 non-null    category
dtypes: category(1), datetime64[us](1), float64(4), int64(2), object(9)
memory usage: 46.7+ KB

In [154]:
filters = [('year', '>', 2020)]

df = pd.read_parquet(file, 
                     engine='pyarrow', 
                     filters=filters)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          881 non-null    object
 1   NAME             881 non-null    object
 2   DATE             881 non-null    object
 3   PRCP             881 non-null    float64
 4   PRCP_ATTRIBUTES  881 non-null    object
 5   SNOW             0 non-null      float64
 6   SNOW_ATTRIBUTES  0 non-null      object
 7   SNWD             0 non-null      float64
 8   SNWD_ATTRIBUTES  0 non-null      object
 9   TAVG             881 non-null    float64
 10  TAVG_ATTRIBUTES  881 non-null    object
 11  TMAX             881 non-null    int64
 12  TMAX_ATTRIBUTES  881 non-null    object
 13  TMIN             881 non-null    int64
 14  TMIN_ATTRIBUTES  881 non-null    object
 15  DT               881 non-null    datetime64[us]
 16  year             881 non-null    category
dtypes: category(1), datetime64[us](1), float64(4), int64(2), object(9)
memory usage: 111.6+ KB

In [156]:
filters = [('year', '>=', 2021)]
pd.read_parquet(file, 
                engine='pyarrow', 
                filters= filters).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          881 non-null    object
 1   NAME             881 non-null    object
 2   DATE             881 non-null    object
 3   PRCP             881 non-null    float64
 4   PRCP_ATTRIBUTES  881 non-null    object
 5   SNOW             0 non-null      float64
 6   SNOW_ATTRIBUTES  0 non-null      object
 7   SNWD             0 non-null      float64
 8   SNWD_ATTRIBUTES  0 non-null      object
 9   TAVG             881 non-null    float64
 10  TAVG_ATTRIBUTES  881 non-null    object
 11  TMAX             881 non-null    int64
 12  TMAX_ATTRIBUTES  881 non-null    object
 13  TMIN             881 non-null    int64
 14  TMIN_ATTRIBUTES  881 non-null    object
 15  DT               881 non-null    datetime64[us]
 16  year             881 non-null    category
dtypes: category(1), datetime64[us](1), float64(4), int64(2), object(9)
memory usage: 111.6+ KB

In [158]:
filters = [('year', 'in', [2021, 2022, 2023])]
df = pd.read_parquet(file, 
                     engine='pyarrow', 
                     filters=filters)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATION          881 non-null    object
 1   NAME             881 non-null    object
 2   DATE             881 non-null    object
 3   PRCP             881 non-null    float64
 4   PRCP_ATTRIBUTES  881 non-null    object
 5   SNOW             0 non-null      float64
 6   SNOW_ATTRIBUTES  0 non-null      object
 7   SNWD             0 non-null      float64
 8   SNWD_ATTRIBUTES  0 non-null      object
 9   TAVG             881 non-null    float64
 10  TAVG_ATTRIBUTES  881 non-null    object
 11  TMAX             881 non-null    int64
 12  TMAX_ATTRIBUTES  881 non-null    object
 13  TMIN             881 non-null    int64
 14  TMIN_ATTRIBUTES  881 non-null    object
 15  DT               881 non-null    datetime64[us]
 16  year             881 non-null    category
dtypes: category(1), datetime64[us](1), float64(4), int64(2), object(9)
memory usage: 111.6+ KB

In [160]:
df.head()

,STATION,NAME,DATE,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,SNWD,SNWD_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,DT,year
0,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",2021-01-01,0.0,",,W,2400",NaN,None,NaN,None,57.0,"H,,S",67,",,W",43,",,W",2021-01-01,2021
1,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",2021-01-02,0.0,",,W,2400",NaN,None,NaN,None,54.0,"H,,S",63,",,W",46,",,W",2021-01-02,2021
2,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",2021-01-03,0.0,",,W,2400",NaN,None,NaN,None,54.0,"H,,S",62,",,W",49,",,W",2021-01-03,2021
3,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",2021-01-04,0.0,",,W,2400",NaN,None,NaN,None,54.0,"H,,S",59,",,W",48,",,W",2021-01-04,2021
4,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",2021-01-05,0.0,",,W,2400",NaN,None,NaN,None,54.0,"H,,S",57,",,W",50,",,W",2021-01-05,2021

In [162]:
columns = ['DATE', 'year', 'TMAX']
df = pd.read_parquet(file, 
                     engine='pyarrow', 
                     filters=filters, 
                     columns=columns)

df.head()

         DATE  year  TMAX
0  2021-01-01  2021    67
1  2021-01-02  2021    63
2  2021-01-03  2021    62
3  2021-01-04  2021    59
4  2021-01-05  2021    57

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    881 non-null    object
 1   year    881 non-null    category
 2   TMAX    881 non-null    int64
dtypes: category(1), int64(1), object(1)
memory usage: 15.2+ KB

## There is more

In [167]:
import pyarrow.parquet as pq
import pyarrow as pa
from pathlib import Path

file = Path('../../datasets/Ch2/LA_weather.parquet/')
table = pq.read_table(file, filters=filters, columns=columns)

In [169]:
import pyarrow as pa
isinstance(table, pa.Table)

True

In [171]:
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    881 non-null    object
 1   year    881 non-null    category
 2   TMAX    881 non-null    int64
dtypes: category(1), int64(1), object(1)
memory usage: 15.2+ KB

In [173]:
print(df.head())

         DATE  year  TMAX
0  2021-01-01  2021    67
1  2021-01-02  2021    63
2  2021-01-03  2021    62
3  2021-01-04  2021    59
4  2021-01-05  2021    57

In [175]:
table.column_names

['DATE', 'year', 'TMAX']

In [177]:
table.schema

DATE: string
year: dictionary<values=int32, indices=int32, ordered=0>
TMAX: int64
-- schema metadata --
pandas: '{"index_columns": [{"kind": "range", "name": null, "start": 0, "' + 2236

In [179]:
table.column_names

['DATE', 'year', 'TMAX']

### Passing a Schema

In [186]:
columns = ['DATE','year', 'TMAX']
filters = [('year', 'in', [2021, 2022, 2023])]

tb = pq.read_table(file,
                   filters=filters, 
                   columns=columns,
                   use_pandas_metadata=True)

df_pa = tb.to_pandas()

In [188]:
df_pa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    881 non-null    object
 1   year    881 non-null    category
 2   TMAX    881 non-null    int64
dtypes: category(1), int64(1), object(1)
memory usage: 15.2+ KB

In [190]:
df_pd = pd.read_parquet(file, 
                        filters=filters, 
                        columns=columns,
                        use_pandas_metadata=True)

df_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    881 non-null    object
 1   year    881 non-null    category
 2   TMAX    881 non-null    int64
dtypes: category(1), int64(1), object(1)
memory usage: 15.2+ KB

In [192]:
schema = pa.schema([
    ('DATE', pa.string()),
    ('year', pa.int64()),
    ('TMAX', pa.int64())
])

# Recipe 5 - Working with Large Data Files

In [1]:
# Script to create one large data file 

# import pandas as pd
# import glob

# def run_once():
#     # Directory path where Parquet files are located
#     directory = '../../datasets/Ch2/yellow_tripdata_2023-*.parquet'
    
#     # Get a list of all Parquet files in the directory
#     parquet_files = glob.glob(directory)
    
#     # Read all Parquet files into a single DataFrame
#     dfs = []
#     for file in parquet_files:
#         df = pd.read_parquet(file)
#         dfs.append(df)
    
#     # Concatenate all DataFrames into a single DataFrame
#     combined_df = pd.concat(dfs)
#     # combined_df.to_parquet('../../datasets/Ch2/yellow_tripdata_2023.parquet', engine='pyarrow')
#     combined_df.to_csv('../../datasets/Ch2/yellow_tripdata_2023.csv', index=False)

# run_once()

In [475]:
# !pip install 'dask[complete]' 
# !pip install 'modin[all]' 
# !pip install polars

In [24]:
# !pip install memory_profiler
# !pip install setuptools

### Using other librarys
* Polars
* Dask

In [194]:
import pandas as pd
import time
import psutil
import polars as pl
import dask.dataframe as dd
from pathlib import Path

In [196]:
print(f'polars version: {pl.__version__}')
import dask
print(f'dask version: {dask.__version__}')

polars version: 1.20.0
dask version: 2025.1.0

In [200]:
#import memory_profiler 
%load_ext memory_profiler

In [202]:
# Read in the CSV file
file_path = Path('../../datasets/Ch2/yellow_tripdata_2023.csv')

## Normal Read using pandas `read_csv`

In [15]:
%%time
%%memit 

df_pd = pd.read_csv(file_path, low_memory=False)

/opt/anaconda3/envs/ts-1/lib/python3.13/multiprocessing/resource_tracker.py:136: UserWarning: resource_tracker: process died unexpectedly, relaunching.  Some resources might leak.
  warnings.warn('resource_tracker: process died unexpectedly, '

peak memory: 9145.67 MiB, increment: 8938.42 MiB
CPU times: user 23.6 s, sys: 3.64 s, total: 27.2 s
Wall time: 28 s

In [16]:
# clean up
del df_pd

## Using Chunksize parameter

In [19]:
%%time
%%memit 

df_pd = pd.read_csv(file_path, low_memory=False, chunksize=10000)

peak memory: 5477.58 MiB, increment: 3.38 MiB
CPU times: user 52.8 ms, sys: 46.7 ms, total: 99.5 ms
Wall time: 556 ms

In [21]:
type(df_pd)

pandas.io.parsers.readers.TextFileReader

In [23]:
df_pd.chunksize

10000

### Using Next()

In [25]:
%%time
%%memit 

df_pd = pd.read_csv(file_path, low_memory=False, chunksize=10000)
chunk = next(df_pd)
chunk.head()

peak memory: 5486.98 MiB, increment: 9.08 MiB
CPU times: user 66.4 ms, sys: 23.6 ms, total: 90 ms
Wall time: 438 ms

### Using .get_chunk() method

In [50]:
%%time
%%memit 

chunk = df_pd.get_chunk()
chunk.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,airport_fee
60000,1,2023-05-01 17:19:11,2023-05-01 17:26:25,1.0,0.60,1.0,N,162,230,1,7.2,5.0,0.5,2.75,0.0,1.0,16.45,2.5,0.0,NaN
60001,1,2023-05-01 17:31:32,2023-05-01 17:37:04,1.0,0.70,1.0,N,100,164,1,6.5,5.0,0.5,2.60,0.0,1.0,15.60,2.5,0.0,NaN
60002,1,2023-05-01 17:53:11,2023-05-01 18:05:09,1.0,1.30,1.0,N,79,231,1,10.7,5.0,0.5,2.00,0.0,1.0,19.20,2.5,0.0,NaN
60003,2,2023-05-01 17:14:40,2023-05-01 17:26:24,1.0,2.16,1.0,N,161,107,1,12.8,2.5,0.5,4.00,0.0,1.0,23.30,2.5,0.0,NaN
60004,2,2023-05-01 17:27:20,2023-05-01 17:38:22,1.0,1.95,1.0,N,107,229,1,13.5,2.5,0.5,3.00,0.0,1.0,23.00,2.5,0.0,NaN

### Using a loop

In [61]:
%%time
%%memit 

df_pd = pd.read_csv(file_path, low_memory=False, chunksize=10000)

final_result = pd.DataFrame()
for chunk in df_pd:
    final_result = pd.concat([final_result, chunk])

peak memory: 11327.92 MiB, increment: 4507.19 MiB
CPU times: user 3min 28s, sys: 3min 46s, total: 7min 14s
Wall time: 7min 34s

In [62]:
# clean up
del df_pd

### Using pd.concat()

In [53]:
%%time
%%memit 


df_pd = pd.read_csv(file_path, low_memory=False, chunksize=10000)

final_result = pd.concat(df_pd)

peak memory: 9145.42 MiB, increment: 697.86 MiB
CPU times: user 14.9 s, sys: 2.81 s, total: 17.7 s
Wall time: 18.8 s

In [79]:
# clean up
del df_pd

## Using Dask

In [27]:
import dask.dataframe as dd
from pathlib import Path

file_path = Path('../../datasets/Ch2/yellow_tripdata_2023.csv')

In [29]:
%%time
%%memit 

df_dk = dd.read_csv(file_path)

peak memory: 5491.03 MiB, increment: 3.66 MiB
CPU times: user 62.3 ms, sys: 20 ms, total: 82.3 ms
Wall time: 428 ms

In [31]:
print(df_dk)

Dask DataFrame Structure:
               VendorID tpep_pickup_datetime tpep_dropoff_datetime passenger_count trip_distance RatecodeID store_and_fwd_flag PULocationID DOLocationID payment_type fare_amount    extra  mta_tax tip_amount tolls_amount improvement_surcharge total_amount congestion_surcharge Airport_fee airport_fee
npartitions=26
                  int64               string                string         float64       float64    float64             string        int64        int64        int64     float64  float64  float64    float64      float64               float64      float64              float64     float64     float64
                    ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...         ...         ...
...                 ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...         ...         ...
                    ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...         ...         ...
                    ...                  ...                   ...             ...           ...        ...                ...          ...          ...          ...         ...      ...      ...        ...          ...                   ...          ...                  ...         ...         ...
Dask Name: read_csv, 1 expression
Expr=ReadCSV(ff0e769)

In [35]:
%%time
%%memit 

print(df_dk.shape[0].compute())

16186386
peak memory: 6129.42 MiB, increment: 405.78 MiB
CPU times: user 18.4 s, sys: 5.25 s, total: 23.6 s
Wall time: 9.78 s

In [36]:
type(df_dk)

dask_expr._collection.DataFrame

In [37]:
df_dk.info()

<class 'dask_expr.DataFrame'>
Columns: 20 entries, VendorID to airport_fee
dtypes: float64(13), int64(4), string(3)

In [41]:
df_dk.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,airport_fee
0,1,2023-05-01 00:33:13,2023-05-01 00:53:01,0.0,7.80,1.0,N,138,43,1,33.8,7.75,0.5,8.60,0.00,1.0,51.65,0.0,1.75,NaN
1,1,2023-05-01 00:42:49,2023-05-01 01:11:18,2.0,8.10,1.0,N,138,262,1,35.9,10.25,0.5,9.50,0.00,1.0,57.15,2.5,1.75,NaN
2,1,2023-05-01 00:56:34,2023-05-01 01:13:39,2.0,9.10,1.0,N,138,141,1,35.2,10.25,0.5,10.70,6.55,1.0,64.20,2.5,1.75,NaN
3,2,2023-05-01 00:00:52,2023-05-01 00:20:12,1.0,8.21,1.0,N,138,140,1,33.1,6.00,0.5,2.24,0.00,1.0,47.09,2.5,1.75,NaN
4,1,2023-05-01 00:05:50,2023-05-01 00:19:41,0.0,7.90,1.0,N,138,263,1,31.0,10.25,0.5,9.85,6.55,1.0,59.15,2.5,1.75,NaN

In [43]:
df_pd = df_dk.compute()
type(df_pd)

pandas.core.frame.DataFrame

In [15]:
del df_dk

## Using Polars

In [44]:
import polars as pl
from pathlib import Path

file_path = Path('../../datasets/Ch2/yellow_tripdata_2023.csv')

In [45]:
%%time
%%memit

df_pl = pl.read_csv(file_path)

peak memory: 11275.28 MiB, increment: 3088.83 MiB
CPU times: user 6.18 s, sys: 990 ms, total: 7.17 s
Wall time: 1.55 s

In [46]:
df_pl.head()

shape: (5, 20)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ VendorID â”† tpep_pick â”† tpep_drop â”† passenger â”† â€¦ â”† total_amo â”† congestio â”† Airport_f â”† airport_f â”‚
â”‚ ---      â”† up_dateti â”† off_datet â”† _count    â”†   â”† unt       â”† n_surchar â”† ee        â”† ee        â”‚
â”‚ i64      â”† me        â”† ime       â”† ---       â”†   â”† ---       â”† ge        â”† ---       â”† ---       â”‚
â”‚          â”† ---       â”† ---       â”† f64       â”†   â”† f64       â”† ---       â”† f64       â”† str       â”‚
â”‚          â”† str       â”† str       â”†           â”†   â”†           â”† f64       â”†           â”†           â”‚
â•žâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1        â”† 2023-05-0 â”† 2023-05-0 â”† 0.0       â”† â€¦ â”† 51.65     â”† 0.0       â”† 1.75      â”† null      â”‚
â”‚          â”† 1         â”† 1         â”†           â”†   â”†           â”†           â”†           â”†           â”‚
â”‚          â”† 00:33:13  â”† 00:53:01  â”†           â”†   â”†           â”†           â”†           â”†           â”‚
â”‚ 1        â”† 2023-05-0 â”† 2023-05-0 â”† 2.0       â”† â€¦ â”† 57.15     â”† 2.5       â”† 1.75      â”† null      â”‚
â”‚          â”† 1         â”† 1         â”†           â”†   â”†           â”†           â”†           â”†           â”‚
â”‚          â”† 00:42:49  â”† 01:11:18  â”†           â”†   â”†           â”†           â”†           â”†           â”‚
â”‚ 1        â”† 2023-05-0 â”† 2023-05-0 â”† 2.0       â”† â€¦ â”† 64.2      â”† 2.5       â”† 1.75      â”† null      â”‚
â”‚          â”† 1         â”† 1         â”†           â”†   â”†           â”†           â”†           â”†           â”‚
â”‚          â”† 00:56:34  â”† 01:13:39  â”†           â”†   â”†           â”†           â”†           â”†           â”‚
â”‚ 2        â”† 2023-05-0 â”† 2023-05-0 â”† 1.0       â”† â€¦ â”† 47.09     â”† 2.5       â”† 1.75      â”† null      â”‚
â”‚          â”† 1         â”† 1         â”†           â”†   â”†           â”†           â”†           â”†           â”‚
â”‚          â”† 00:00:52  â”† 00:20:12  â”†           â”†   â”†           â”†           â”†           â”†           â”‚
â”‚ 1        â”† 2023-05-0 â”† 2023-05-0 â”† 0.0       â”† â€¦ â”† 59.15     â”† 2.5       â”† 1.75      â”† null      â”‚
â”‚          â”† 1         â”† 1         â”†           â”†   â”†           â”†           â”†           â”†           â”‚
â”‚          â”† 00:05:50  â”† 00:19:41  â”†           â”†   â”†           â”†           â”†           â”†           â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [51]:
type(df_pl)

polars.dataframe.frame.DataFrame

In [53]:
df_pl.shape

(16186386, 20)

In [55]:
df_pd = df_pl.to_pandas()

### There is more

In [204]:
from pathlib import Path
from modin.config import Engine
Engine.put("dask")  # Modin will use Dask
import modin.pandas as pd
file_path = Path('../../datasets/Ch2/yellow_tripdata_2023.csv')

In [206]:
%%time
%%memit 
pd.read_csv(file_path)

peak memory: 570.48 MiB, increment: 184.17 MiB
CPU times: user 1.53 s, sys: 689 ms, total: 2.22 s
Wall time: 9.89 s

In [207]:
df_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    881 non-null    object
 1   year    881 non-null    category
 2   TMAX    881 non-null    int64
dtypes: category(1), int64(1), object(1)
memory usage: 15.2+ KB