In [6]:
# !pip install yfinance -q

In [8]:
# import yfinance as yf

# msft = yf.Ticker("MSFT")

# hist = msft.history(period="5y")
# hist.index = hist.index.strftime('%Y-%m-%d')
# hist = hist[['Open', 'High', 'Low', 'Close', 'Volume']]
# hist.to_csv('../../datasets/Ch3/MSFT.csv')

# Chapter 3
## Reading Time Series Data from Databases


* Reading data from a relational database
* Reading data from Snowflake
* Reading data from a document database
* Reading data from a time series databases

# Recipe 1: Reading from a Relational Database (PostgreSQL)
* Two methods shown: using `psycopg2` or `pandas` library which utilizes psycopg2 and SQLAlchemy behind the scenes. 
* The chapter highlights the advnatages of using an ORM  -->

## Using Psycopg2

In this recipe, it is assumed that you have the latest PostgreSQL installed. At the time of writing, version 14 is the latest stable version (version 15 is still in beta). To connect to and query the database in Python, you will need to install `psycopg2`, a popular PostgreSQL database adapter for Python. You will also need to install `SQLAlchemy`, which provides flexibility regarding how you want to manage the database, whether it is for writing or reading data.

* To install the libraries using conda, run the following command:

```
conda install sqlalchemy psycopg2 -y
```
* To install the libraries using pip, run the following command:

```
pip install sqlalchemy psycopg2
```

In [108]:
import psycopg
import pandas as pd

In [110]:
psycopg.__version__

'3.2.6'

In [112]:
import configparser
config = configparser.ConfigParser()
config.read('database.cfg')

['database.cfg']

In [114]:
params = dict(config['POSTGRESQL_PSYCOPG'])

In [116]:
conn = psycopg.connect(**params)
cursor = conn.cursor()

In [118]:
conn

In [120]:
cursor.execute("""
SELECT date, close, volume
FROM msft
ORDER BY date;
""")

cursor.rowcount

1259

In [122]:
cursor.description

[<Column 'date', type: varchar(50) (oid: 1043)>,
 <Column 'close', type: float4 (oid: 700)>,
 <Column 'volume', type: int4 (oid: 23)>]

In [124]:
columns = [col[0] for col in cursor.description]
columns

['date', 'close', 'volume']

In [126]:
data = cursor.fetchall()
data[0:5]

[('2019-09-04', 131.45726, 17995900),
 ('2019-09-05', 133.7687, 26101800),
 ('2019-09-06', 132.86136, 20824500),
 ('2019-09-09', 131.35222, 25773900),
 ('2019-09-10', 129.97684, 28903400)]

In [128]:
df = pd.DataFrame(data, columns=columns)

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1259 non-null   object
 1   close   1259 non-null   float64
 2   volume  1259 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.6+ KB

In [132]:
df['date'] = pd.to_datetime(df['date'])
df = df.set_index('date')
print(df.tail(3))

             close    volume
date
2024-08-30  417.14  24308300
2024-09-03  409.44  20285900
2024-09-04  408.84   9167942

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2019-09-04 to 2024-09-04
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   close   1259 non-null   float64
 1   volume  1259 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 29.5 KB

In [136]:
from psycopg.rows import dict_row
conn = psycopg.connect(**params, row_factory=dict_row)

In [138]:
cursor = conn.cursor()

cursor.execute("SELECT * FROM msft;")
data = cursor.fetchall()
data[0:2]

[{'date': '2019-09-04',
  'open': 131.14206,
  'high': 131.51457,
  'low': 130.35883,
  'close': 131.45726,
  'volume': 17995900},
 {'date': '2019-09-05',
  'open': 132.87086,
  'high': 134.08391,
  'low': 132.53656,
  'close': 133.7687,
  'volume': 26101800}]

In [140]:
df = pd.DataFrame(data)
print(df.head())

         date       open       high        low      close    volume
0  2019-09-04  131.14206  131.51457  130.35883  131.45726  17995900
1  2019-09-05  132.87086  134.08391  132.53656  133.76870  26101800
2  2019-09-06  133.74963  133.89291  132.00171  132.86136  20824500
3  2019-09-09  133.32938  133.48220  130.33977  131.35222  25773900
4  2019-09-10  130.66455  130.75050  128.47725  129.97684  28903400

In [142]:
cursor.close()

In [144]:
conn.close()

 ### Psycopg and `with` clause

In [147]:
with psycopg.connect(**params) as conn:
     with conn.cursor() as cursor:
            cursor.execute('SELECT * FROM msft')
            data = cursor.fetchone()
print(data)

('2019-09-04', 131.14206, 131.51457, 130.35883, 131.45726, 17995900)

In [149]:
with psycopg.connect(**params) as conn:
     with conn.cursor() as cursor:
            cursor.execute('SELECT * FROM msft')
            data = cursor.fetchmany(5)
print(data)

[('2019-09-04', 131.14206, 131.51457, 130.35883, 131.45726, 17995900), ('2019-09-05', 132.87086, 134.08391, 132.53656, 133.7687, 26101800), ('2019-09-06', 133.74963, 133.89291, 132.00171, 132.86136, 20824500), ('2019-09-09', 133.32938, 133.4822, 130.33977, 131.35222, 25773900), ('2019-09-10', 130.66455, 130.7505, 128.47725, 129.97684, 28903400)]

## Using SQLAlchemy

In [151]:
import sqlalchemy
sqlalchemy.__version__

'2.0.40'

In [173]:
import pandas as pd
from sqlalchemy import create_engine, URL

params = dict(config['POSTGRESQL'])
url = URL.create('postgresql+psycopg', **params)
url

postgresql+psycopg://postgres:***@127.0.0.1:5432/postgres

In [175]:
engine = create_engine(url)
engine

Engine(postgresql+psycopg://postgres:***@127.0.0.1:5432/postgres)

In [182]:
query = "SELECT * FROM msft"
df = pd.read_sql(query,
                 con=engine,
                 index_col='date',
                 parse_dates=['date'])

print(df.tail(3))

              open    high     low   close    volume
date
2024-08-30  415.60  417.49  412.13  417.14  24308300
2024-09-03  417.91  419.88  407.03  409.44  20285900
2024-09-04  405.63  411.24  404.37  408.84   9167942

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2019-09-04 to 2024-09-04
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    1259 non-null   float64
 1   high    1259 non-null   float64
 2   low     1259 non-null   float64
 3   close   1259 non-null   float64
 4   volume  1259 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

In [165]:
# Good practice for connection management
with engine.connect() as conn:
    df = pd.read_sql(query,
                 conn,
                 index_col='date',
                 parse_dates=['date'])
print(df.tail(3))

              open    high     low   close    volume
date
2024-08-30  415.60  417.49  412.13  417.14  24308300
2024-09-03  417.91  419.88  407.03  409.44  20285900
2024-09-04  405.63  411.24  404.37  408.84   9167942

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2019-09-04 to 2024-09-04
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    1259 non-null   float64
 1   high    1259 non-null   float64
 2   low     1259 non-null   float64
 3   close   1259 non-null   float64
 4   volume  1259 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

In [169]:
df = pd.read_sql_query(query,
                       engine,
                       index_col='date',
                       parse_dates=['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2019-09-04 to 2024-09-04
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    1259 non-null   float64
 1   high    1259 non-null   float64
 2   low     1259 non-null   float64
 3   close   1259 non-null   float64
 4   volume  1259 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

In [171]:
df = pd.read_sql_table('msft',
                        engine,
                        index_col='date',
                        parse_dates=['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2019-09-04 to 2024-09-04
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    1259 non-null   float64
 1   high    1259 non-null   float64
 2   low     1259 non-null   float64
 3   close   1259 non-null   float64
 4   volume  1259 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

## How it works

In [47]:
df = pd.read_sql(query,
                 engine,
                 index_col='date',
                 parse_dates={'date': '%Y-%m-%d'})

print(df.tail(3))

              open    high     low   close    volume
date
2024-08-30  415.60  417.49  412.13  417.14  24308300
2024-09-03  417.91  419.88  407.03  409.44  20285900
2024-09-04  405.63  411.24  404.37  408.84   9167942

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2019-09-04 to 2024-09-04
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    1259 non-null   float64
 1   high    1259 non-null   float64
 2   low     1259 non-null   float64
 3   close   1259 non-null   float64
 4   volume  1259 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

## There is more

### Generating a URL

In [51]:
from sqlalchemy import URL, create_engine

url = URL.create(
    drivername='postgresql+psycopg',
    host= '127.0.0.1',
    username='postgres',
    password='password',
    database='postgres',
    port= 5432
)

print(url)

engine = create_engine(url)
df = pd.read_sql('select * from msft;', engine)
df.head()

postgresql+psycopg://postgres:***@127.0.0.1:5432/postgres

         date       open       high        low      close    volume
0  2019-09-04  131.14206  131.51457  130.35883  131.45726  17995900
1  2019-09-05  132.87086  134.08391  132.53656  133.76870  26101800
2  2019-09-06  133.74963  133.89291  132.00171  132.86136  20824500
3  2019-09-09  133.32938  133.48220  130.33977  131.35222  25773900
4  2019-09-10  130.66455  130.75050  128.47725  129.97684  28903400

In [53]:
URL

sqlalchemy.engine.url.URL

### Chunking

In [122]:
df = pd.read_sql(query,
                 engine,
                 index_col='date',
                 parse_dates=['date'],
                 chunksize=5)
# example using next 
next(df)['close']

date
2019-09-04    131.45726
2019-09-05    133.76870
2019-09-06    132.86136
2019-09-09    131.35222
2019-09-10    129.97684
Name: close, dtype: float64

In [63]:
# example using a for loop
df_gen = pd.read_sql(query,
                 engine,
                 index_col='date',
                 parse_dates=True,
                 chunksize=500)


for idx, data in enumerate(df_gen):
     print(idx, data.shape)

0 (500, 5)
1 (500, 5)
2 (259, 5)

In [65]:
df_gen = pd.read_sql(query,
                 engine,
                 index_col='date',
                 parse_dates=['date'],
                 chunksize=500)

for idx, chunk in enumerate(df_gen):
     print(f"Chunk {idx}: Shape {chunk.shape}")
     
     # Process each chunk individually
     # For example, calculate statistics on each chunk
     print(f"Mean close price for chunk {idx}: {chunk['close'].mean():.2f}")

Chunk 0: Shape (500, 5)
Mean close price for chunk 0: 198.07
Chunk 1: Shape (500, 5)
Mean close price for chunk 1: 280.95
Chunk 2: Shape (259, 5)
Mean close price for chunk 2: 391.79

### AWS Redshift Example

In [78]:
# conda install -c conda-forge psycopg2 sqlalchemy-redshift

In [80]:
url = URL.create('redshift+psycopg2', 
                 **params) # Unpacks host, port, etc.
aws_engine = create_engine(url)
# aws_engine = create_engine(f"redshift+psycopg2://{username}:{password}@{host}:\
#                    {port}/{database}")

df.reset_index().to_sql('msft', con=aws_engine, index=False)

/var/folders/48/j6k669vx63qd_68k2_502cl40000gn/T/ipykernel_14098/670245609.py:3: SADeprecationWarning: The dbapi() classmethod on dialect classes has been renamed to import_dbapi().  Implement an import_dbapi() classmethod directly on class <class 'sqlalchemy_redshift.dialect.RedshiftDialect_psycopg2'> to remove this warning; the old .dbapi() classmethod may be maintained for backwards compatibility.
  aws_engine = create_engine(url)

514

In [82]:
from configparser import ConfigParser
config = ConfigParser()
config.read('database.cfg')
config.sections()

['SNOWFLAKE', 'POSTGRESQL', 'AWS', 'SNOW', 'TDENGINE']

In [90]:
params = dict(config['AWS'])

In [92]:
import pandas as pd
from sqlalchemy import create_engine, URL

url = URL.create('redshift+psycopg2', 
                 **params) # Unpacks host, port, etc.
aws_engine = create_engine(url)

df = pd.read_sql(query,
                 aws_engine,
                 index_col='date',
                 parse_dates=['date'])

print(df.head())

/var/folders/48/j6k669vx63qd_68k2_502cl40000gn/T/ipykernel_14098/3006921457.py:6: SADeprecationWarning: The dbapi() classmethod on dialect classes has been renamed to import_dbapi().  Implement an import_dbapi() classmethod directly on class <class 'sqlalchemy_redshift.dialect.RedshiftDialect_psycopg2'> to remove this warning; the old .dbapi() classmethod may be maintained for backwards compatibility.
  aws_engine = create_engine(url)

                           open        high         low       close     volume
date
2020-04-20 04:00:00  119.497498  122.249001  119.302498  119.680496  115414000
2020-04-21 04:00:00  120.830498  121.415497  113.983002  116.405998  149534000
2020-04-22 04:00:00  118.449997  119.699997  117.550003  118.174500   84244000
2020-04-23 04:00:00  119.999001  121.210999  119.103996  119.972504  101332000
2020-04-24 04:00:00  120.849998  121.021500  119.099998  120.511002   76498000

# Recipe 2: Reading data from Snowflake

This recipe assumes you have access to Snowflake. To connect to Snowflake, you will need to install the Snowflake Python connector.

```

## Using snowflake connector
* Two methods demonstrated:
    * Using snowflake connector directly
    * using `pandas.read_sql`

In [59]:
# !conda install -c conda-forge snowflake-sqlalchemy snowflake-connector-python snowflake-snowpark-python -y
# !pip install "snowflake-connector-python[pandas]"

In [2]:
import pandas as pd
from snowflake import connector
from configparser import ConfigParser

# connector.paramstyle='qmark'

In [3]:
config = ConfigParser()
config.read('database.cfg')

config.sections()

['SNOWFLAKE', 'POSTGRESQL', 'AWS', 'SNOW', 'TDENGINE']

In [4]:
params = dict(config['SNOWFLAKE'])

In [751]:
import snowflake.connector

con = connector.connect(**params)
print(con.database)
print(con.account)
print(con.region)
print(con.login_timeout)

In [10]:
cursor = con.cursor()
cursor.execute('select * from ORDERS;')

In [12]:
cursor.description

[ResultMetadata(name='O_ORDERKEY', type_code=0, display_size=None, internal_size=None, precision=38, scale=0, is_nullable=False),
 ResultMetadata(name='O_CUSTKEY', type_code=0, display_size=None, internal_size=None, precision=38, scale=0, is_nullable=False),
 ResultMetadata(name='O_ORDERSTATUS', type_code=2, display_size=None, internal_size=1, precision=None, scale=None, is_nullable=False),
 ResultMetadata(name='O_TOTALPRICE', type_code=0, display_size=None, internal_size=None, precision=12, scale=2, is_nullable=False),
 ResultMetadata(name='O_ORDERDATE', type_code=3, display_size=None, internal_size=None, precision=None, scale=None, is_nullable=False),
 ResultMetadata(name='O_ORDERPRIORITY', type_code=2, display_size=None, internal_size=15, precision=None, scale=None, is_nullable=False),
 ResultMetadata(name='O_CLERK', type_code=2, display_size=None, internal_size=15, precision=None, scale=None, is_nullable=False),
 ResultMetadata(name='O_SHIPPRIORITY', type_code=0, display_size=None, internal_size=None, precision=38, scale=0, is_nullable=False),
 ResultMetadata(name='O_COMMENT', type_code=2, display_size=None, internal_size=79, precision=None, scale=None, is_nullable=False)]

In [14]:
#or
cursor.describe('select * from ORDERS;')

[ResultMetadata(name='O_ORDERKEY', type_code=0, display_size=None, internal_size=None, precision=38, scale=0, is_nullable=False),
 ResultMetadata(name='O_CUSTKEY', type_code=0, display_size=None, internal_size=None, precision=38, scale=0, is_nullable=False),
 ResultMetadata(name='O_ORDERSTATUS', type_code=2, display_size=None, internal_size=1, precision=None, scale=None, is_nullable=False),
 ResultMetadata(name='O_TOTALPRICE', type_code=0, display_size=None, internal_size=None, precision=12, scale=2, is_nullable=False),
 ResultMetadata(name='O_ORDERDATE', type_code=3, display_size=None, internal_size=None, precision=None, scale=None, is_nullable=False),
 ResultMetadata(name='O_ORDERPRIORITY', type_code=2, display_size=None, internal_size=15, precision=None, scale=None, is_nullable=False),
 ResultMetadata(name='O_CLERK', type_code=2, display_size=None, internal_size=15, precision=None, scale=None, is_nullable=False),
 ResultMetadata(name='O_SHIPPRIORITY', type_code=0, display_size=None, internal_size=None, precision=38, scale=0, is_nullable=False),
 ResultMetadata(name='O_COMMENT', type_code=2, display_size=None, internal_size=79, precision=None, scale=None, is_nullable=False)]

In [16]:
cursor.rowcount

0

In [18]:
query = "SELECT * FROM ORDERS;"
cursor.execute(query)

print(cursor.rowcount)

1500000

In [20]:
df = cursor.fetch_pandas_all()
df.head()

,O_ORDERKEY,O_CUSTKEY,O_ORDERSTATUS,O_TOTALPRICE,O_ORDERDATE,O_ORDERPRIORITY,O_CLERK,O_SHIPPRIORITY,O_COMMENT
0,5400001,38449,F,270576.60,1992-04-22,2-HIGH,Clerk#000000540,0,times at the pending requests. pending realms ...
1,5400002,133681,F,216696.22,1992-05-02,4-NOT SPECIFIED,Clerk#000000154,0,"lyly against the pending, special requests. si..."
2,5400003,75391,O,191044.99,1995-10-04,2-HIGH,Clerk#000000388,0,"e the blithely ironic pinto beans. regular, fi"
3,5400004,46096,O,263505.65,1995-12-02,1-URGENT,Clerk#000000353,0,osits are. blithely even requests eat sometime...
4,5400005,117977,F,117459.27,1993-09-16,4-NOT SPECIFIED,Clerk#000000326,0,foxes use furiously slow asymptotes. express d...

In [19]:
df = cursor.execute(query).fetch_pandas_all()

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 9 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   O_ORDERKEY       1500000 non-null  int32
 1   O_CUSTKEY        1500000 non-null  int32
 2   O_ORDERSTATUS    1500000 non-null  object
 3   O_TOTALPRICE     1500000 non-null  float64
 4   O_ORDERDATE      1500000 non-null  object
 5   O_ORDERPRIORITY  1500000 non-null  object
 6   O_CLERK          1500000 non-null  object
 7   O_SHIPPRIORITY   1500000 non-null  int8
 8   O_COMMENT        1500000 non-null  object
dtypes: float64(1), int32(2), int8(1), object(5)
memory usage: 81.5+ MB

In [23]:
print(df.iloc[0:3, 1:6])

   O_CUSTKEY O_ORDERSTATUS  O_TOTALPRICE O_ORDERDATE  O_ORDERPRIORITY
0     145618             F      30175.88  1992-12-17  4-NOT SPECIFIED
1       1481             O     297999.63  1995-07-28         1-URGENT
2     127432             O     345438.38  1997-11-04            5-LOW

In [129]:
pd.to_datetime(df['O_ORDERDATE']).dtype

dtype('<M8[ns]')

In [123]:
df_ts = (df.set_index(pd.to_datetime(df['O_ORDERDATE']))
         .drop(columns='O_ORDERDATE'))

print(df_ts.iloc[0:3, 1:5])

             O_CUSTKEY O_ORDERSTATUS  O_TOTALPRICE  O_ORDERPRIORITY
O_ORDERDATE
1992-04-22       38449             F     270576.60           2-HIGH
1992-05-02      133681             F     216696.22  4-NOT SPECIFIED
1995-10-04       75391             O     191044.99           2-HIGH

In [125]:
df_ts.index[0:2]

DatetimeIndex(['1992-04-22', '1992-05-02'], dtype='datetime64[ns]', name='O_ORDERDATE', freq=None)

In [127]:
cursor.close() # close the cursor
con.close() # close the connection

In [77]:
# Connection with automatic cleanup
with connector.connect(**params) as con:
    with con.cursor() as cursor:
        # Query execution
        query = "SELECT * FROM ORDERS;"
        df = cursor.execute(query).fetch_pandas_all()
# Convert to proper time series
df_ts = (df.set_index(pd.to_datetime(df['O_ORDERDATE']))
         .drop(columns='O_ORDERDATE'))

## Using SQlAlchemy

In [69]:
from sqlalchemy import create_engine
from snowflake.sqlalchemy import URL
import configparser

config = ConfigParser()
config.read('database.cfg')
params = dict(config['SNOWFLAKE'])

url = URL(**params)
engine = create_engine(url)

In [71]:
con = engine.connect()
con

In [81]:
query = "SELECT * FROM ORDERS;"

engine = create_engine(url)
with engine.connect() as con:
    df = pd.read_sql(query,
                      con,
                      index_col='o_orderdate',
                      parse_dates=['o_orderdate'])

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1500000 entries, 1992-04-22 to 1998-03-03
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   o_orderkey       1500000 non-null  int64
 1   o_custkey        1500000 non-null  int64
 2   o_orderstatus    1500000 non-null  object
 3   o_totalprice     1500000 non-null  float64
 4   o_orderpriority  1500000 non-null  object
 5   o_clerk          1500000 non-null  object
 6   o_shippriority   1500000 non-null  int64
 7   o_comment        1500000 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 103.0+ MB

In [24]:
con = engine.connect()
df = pd.read_sql(query,
                 con,
                 index_col='o_orderdate',
                 parse_dates=['o_orderdate'])
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1500000 entries, 1992-04-22 to 1998-03-03
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   o_orderkey       1500000 non-null  int64
 1   o_custkey        1500000 non-null  int64
 2   o_orderstatus    1500000 non-null  object
 3   o_totalprice     1500000 non-null  float64
 4   o_orderpriority  1500000 non-null  object
 5   o_clerk          1500000 non-null  object
 6   o_shippriority   1500000 non-null  int64
 7   o_comment        1500000 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 103.0+ MB

In [40]:
con.close()
engine.dispose()

## Using Snowpark

In [83]:
from snowflake.snowpark import Session
from configparser import ConfigParser

config = ConfigParser()
config.read('database.cfg')
config.sections()

['SNOWFLAKE', 'POSTGRESQL', 'AWS', 'SNOW', 'TDENGINE']

In [84]:
params = dict(config['SNOWFLAKE'])
session = Session.builder.configs(params).create()

In [243]:
print(session.sql(query))
print(session.read.table("ORDERS"))

<snowflake.snowpark.dataframe.DataFrame object at 0x155e2e6c0>
<snowflake.snowpark.table.Table object at 0x1548cbcb0>

In [86]:
query = 'SELECT * FROM ORDERS;'
orders = session.sql(query).to_pandas()
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 9 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   O_ORDERKEY       1500000 non-null  int32
 1   O_CUSTKEY        1500000 non-null  int32
 2   O_ORDERSTATUS    1500000 non-null  object
 3   O_TOTALPRICE     1500000 non-null  float64
 4   O_ORDERDATE      1500000 non-null  object
 5   O_ORDERPRIORITY  1500000 non-null  object
 6   O_CLERK          1500000 non-null  object
 7   O_SHIPPRIORITY   1500000 non-null  int8
 8   O_COMMENT        1500000 non-null  object
dtypes: float64(1), int32(2), int8(1), object(5)
memory usage: 81.5+ MB

In [87]:
orders = session.read.table("ORDERS").to_pandas()
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 9 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   O_ORDERKEY       1500000 non-null  int32
 1   O_CUSTKEY        1500000 non-null  int32
 2   O_ORDERSTATUS    1500000 non-null  object
 3   O_TOTALPRICE     1500000 non-null  float64
 4   O_ORDERDATE      1500000 non-null  object
 5   O_ORDERPRIORITY  1500000 non-null  object
 6   O_CLERK          1500000 non-null  object
 7   O_SHIPPRIORITY   1500000 non-null  int8
 8   O_COMMENT        1500000 non-null  object
dtypes: float64(1), int32(2), int8(1), object(5)
memory usage: 81.5+ MB

In [88]:
orders = session.table("ORDERS").to_pandas()
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 9 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   O_ORDERKEY       1500000 non-null  int32
 1   O_CUSTKEY        1500000 non-null  int32
 2   O_ORDERSTATUS    1500000 non-null  object
 3   O_TOTALPRICE     1500000 non-null  float64
 4   O_ORDERDATE      1500000 non-null  object
 5   O_ORDERPRIORITY  1500000 non-null  object
 6   O_CLERK          1500000 non-null  object
 7   O_SHIPPRIORITY   1500000 non-null  int8
 8   O_COMMENT        1500000 non-null  object
dtypes: float64(1), int32(2), int8(1), object(5)
memory usage: 81.5+ MB

In [89]:
snowpark_df = session.create_dataframe(orders)
snowpark_df = session.write_pandas(orders, table_name='temp_table')

# Recipe 3: Reading from a Document Database (MongoDB)
* This chapter introduces you to reading data from a Document Database like MongoDB

In [1]:
!conda install -c conda-forge pymongo -y
!python -m pip install "pymongo[srv]"

Collecting pymongo[srv]
  Downloading pymongo-4.8.0-cp311-cp311-macosx_11_0_arm64.whl.metadata (22 kB)
WARNING: pymongo 4.8.0 does not provide the extra 'srv'
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
Downloading pymongo-4.8.0-cp311-cp311-macosx_11_0_arm64.whl (645 kB)
    645.7/645.7 kB 4.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.8.0

In [102]:
import pandas as pd
from pymongo import MongoClient

In [333]:
from pymongo.mongo_client import MongoClient, uri_parser
from pymongo.server_api import ServerApi
from urllib.parse import quote_plus
import pandas as pd


# username = quote_plus('your_username')
# password = quote_plus('your_password')

username = 'your_username'
password = 'your_password'

uri = f"mongodb+srv://{username}:{password}@cluster0.7d1ej.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

In [174]:
# connecting to on-premise instance
url = "mongodb://127.0.0.1:27017"
client = MongoClient(url)
client

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

In [190]:
uri = "mongodb://admin:your_password@127.0.0.1:27017"
uri_parser.parse_uri(uri)

{'nodelist': [('127.0.0.1', 27017)],
 'username': 'admin',
 'password': 'your_password',
 'database': None,
 'collection': None,
 'options': {},
 'fqdn': None}

In [154]:
client = MongoClient(host=['127.0.0.1:27017'],
                     password='password',
                     username='admin',
                     document_class=dict,
                     tz_aware=False,
                     connect=True)

client

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

In [212]:
client = MongoClient(host='127.0.0.1',
                     port=27017,
                     password='password',
                     username='admin',
                     document_class=dict,
                     tz_aware=False,
                     connect=True)
client

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

In [214]:
print(type(client))
print(client)

<class 'pymongo.synchronous.mongo_client.MongoClient'>
MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

In [216]:
#client = MongoClient("mongodb://127.0.0.1:27017")

In [293]:
client.list_database_names()

['admin', 'config', 'local', 'stock_data']

In [299]:
dbs = client.list_databases()
dbs

In [220]:
for db in client.list_databases():
    print(db)

{'name': 'admin', 'sizeOnDisk': 102400, 'empty': False}
{'name': 'config', 'sizeOnDisk': 110592, 'empty': False}
{'name': 'local', 'sizeOnDisk': 73728, 'empty': False}
{'name': 'stock_data', 'sizeOnDisk': 155648, 'empty': False}

In [224]:
db = client['stock_data']
db.list_collection_names()

['microsoft', 'system.buckets.microsoft', 'system.views']

In [238]:
collection = db['microsoft']
results = collection.find({})

msft_df = (pd.DataFrame(results)
             .set_index('date')
             .drop(columns='_id'))
print(msft_df.head())

              volume       close         low        high        open
date
2019-09-04  17995900  131.457260  130.358829  131.514567  131.142059
2019-09-05  26101800  133.768707  132.536556  134.083908  132.870864
2019-09-06  20824500  132.861359  132.001715  133.892908  133.749641
2019-09-09  25773900  131.352219  130.339762  133.482199  133.329371
2019-09-10  28903400  129.976837  128.477244  130.750506  130.664546

## How it Works

In [240]:
# Specifying the database
db = client['stock_data']
db = client.stock_data
db = client.get_database('stock_data')
db

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'stock_data')

In [242]:
# Specifying the collection
collection = db.microsoft
collection = db['microsoft']
collection = db.get_collection('microsoft')
collection

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'stock_data'), 'microsoft')

In [244]:
# Find the top 5 highest closing prices

results = collection.find().sort("close", -1).limit(5)

msft_df = (pd.DataFrame(results)
             .set_index('date')
             .drop(columns='_id'))
print(msft_df)

                 close    volume         low        high        open
date
2024-07-05  466.718781  16000300  458.144239  467.507368  458.783072
2024-07-10  465.411133  18196100  458.034414  465.620746  460.390184
2024-07-08  465.401154  12962300  463.624357  466.858549  465.710593
2024-07-03  459.940979   9932800  457.056194  460.190529  457.365634
2024-07-09  458.713226  17207200  457.175988  466.489189  466.159796

In [246]:
query = {
        "close": {"$gt": 130},
         "project": {
                "_id": 0,
                "close": 1,
                "volume": 1
                }
        }
results = collection.find(query)
df = pd.DataFrame(results)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [248]:
query = {"close": {"$gt": 130}}
results = collection.find(query)
df = pd.DataFrame(results)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1256 non-null   datetime64[ns]
 1   volume  1256 non-null   int64
 2   close   1256 non-null   float64
 3   low     1256 non-null   float64
 4   high    1256 non-null   float64
 5   _id     1256 non-null   object
 6   open    1256 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 68.8+ KB

In [250]:
# Find stocks with a closing price greater than 130
query = {"close": {"$gt": 130}}
projection = {
   "close": 1,
   "volume": 1,
   "_id": 0
}

results = collection.find(query, projection)

In [301]:
# print first 5 results
query = {"close": {"$gt": 130}}
projection = {
   "_id": 0,
   "date":1,
   "close": 1,
   "volume": 1
}

results = collection.find(query, projection)

df = pd.DataFrame(results).set_index(keys='date')
print(df.head())

                 close    volume
date
2019-09-04  131.457260  17995900
2019-09-05  133.768707  26101800
2019-09-06  132.861359  20824500
2019-09-09  131.352219  25773900
2019-09-11  130.014984  24726100

In [313]:
# Find stocks between specific dates (e.g., 2019-09-05 to 2019-09-10)
import datetime

query = {
    "date": {
        "$gte": datetime.datetime(2024, 8, 5),
        "$lte": datetime.datetime(2024, 8, 9)
    }
}

results = collection.find(query)
msft_df = (pd.DataFrame(results)
             .set_index('date')
             .drop(columns='_id'))
print(msft_df.head())

              volume       close         low        high        open
date
2024-08-05  40709200  394.439056  384.886267  400.318474  388.469835
2024-08-06  24946500  398.891022  397.783033  404.940147  399.280335
2024-08-07  20650900  397.713165  396.754901  409.342199  407.904818
2024-08-08  20203000  401.965485  399.220432  405.129764  401.715934
2024-08-09  19276700  405.289490  401.536275  407.315836  403.303080

In [331]:
# Example: Calculate average closing price by day of week
pipeline = [
    {"$match": {
        "date": {
            "$gte": datetime.datetime(2024, 8, 1),
            "$lte": datetime.datetime(2024, 8, 31)
        }
    }},
    {"$project": {
        "dayOfWeek": {"$dayOfWeek": "$date"},  # 1 for Sunday, 2 for Monday, etc.
        "close": 1
    }},
    {"$group": {
        "_id": "$dayOfWeek",
        "avg_close": {"$avg": "$close"}
    }},
    {"$sort": {"_id": 1}}
]

day_analysis = list(collection.aggregate(pipeline))
print("Average closing price by day of week:")
for day in day_analysis:
    day_name = ["Sunday", "Monday", "Tuesday", "Wednesday", 
                "Thursday", "Friday", "Saturday"][day["_id"]-1]
    print(f"{day_name}: ${day['avg_close']:.2f}")

Average closing price by day of week:
Monday: $408.88
Tuesday: $412.70
Wednesday: $412.14
Thursday: $413.60
Friday: $413.09

In [317]:
day_analysis

[{'_id': 2, 'avg_close': 408.88427734375},
 {'_id': 3, 'avg_close': 412.69903564453125},
 {'_id': 4, 'avg_close': 412.1407928466797},
 {'_id': 5, 'avg_close': 413.60499877929686},
 {'_id': 6, 'avg_close': 413.0889099121094}]

In [258]:
# Find stocks that closed lower than they opened
query = {"$expr": {"$lt": ["$close", "$open"]}}

results = collection.find(query)
msft_df = pd.DataFrame(results)
msft_df.head()

,date,volume,close,low,high,_id,open
0,2019-09-06,20824500,132.861359,132.001715,133.892908,67f4c5b162961780ffca4340,133.749641
1,2019-09-09,25773900,131.352219,130.339762,133.482199,67f4c5b162961780ffca4341,133.329371
2,2019-09-10,28903400,129.976837,128.477244,130.750506,67f4c5b162961780ffca4342,130.664546
3,2019-09-12,27010000,131.352219,130.731362,132.211848,67f4c5b162961780ffca4344,131.667420
4,2019-09-13,23363100,131.161194,130.444831,131.867995,67f4c5b162961780ffca4345,131.600555

<!-- When it comes to working with Cursors, there are several ways you can traverse through the data: -->

In [261]:
query = {"$and": [{"close": {"$gt": 130}}, {"volume": {"$lt": 20000000}}]} 
results = collection.find(query)
msft_df = pd.DataFrame(results)
msft_df.head()

,date,volume,close,low,high,_id,open
0,2019-09-04,17995900,131.457260,130.358829,131.514567,67f4c5b162961780ffca433e,131.142059
1,2019-09-16,16731400,130.215576,129.575628,130.568977,67f4c5b162961780ffca4346,129.738001
2,2019-09-17,17814200,131.228073,130.311123,131.352247,67f4c5b162961780ffca4347,130.817366
3,2019-09-23,17139300,132.899567,132.230965,133.367595,67f4c5b162961780ffca434b,132.985527
4,2019-09-26,17456600,133.281631,132.230975,133.892927,67f4c5b162961780ffca434e,133.186125

In [263]:
query = {"$or": [{"close": {"$gt": 135}}, {"volume": {"$gt": 30000000}}]}
results = collection.find(query)
msft_df = pd.DataFrame(results)
msft_df.head()

,date,volume,close,low,high,_id,open
0,2019-09-19,35772100,134.743011,133.787862,135.984695,67f4c5b162961780ffca4349,134.007542
1,2019-09-20,39167300,133.186142,132.049511,135.297016,67f4c5b162961780ffca434a,134.685720
2,2019-10-02,30521700,128.610931,127.588929,130.253790,67f4c5b162961780ffca4352,130.139177
3,2019-10-15,19695700,135.220596,133.539523,135.430716,67f4c5b162961780ffca435b,133.778310
4,2019-10-18,32273500,131.247177,130.435294,133.721012,67f4c5b162961780ffca435e,133.491771

In [265]:
query = {"date": {"$in": [datetime.datetime(2019, 9, 4), datetime.datetime(2019, 9, 5), datetime.datetime(2019, 9, 6)]}}
results = collection.find(query)
msft_df = pd.DataFrame(results)
msft_df.head()

,date,volume,close,low,high,_id,open
0,2019-09-04,17995900,131.457260,130.358829,131.514567,67f4c5b162961780ffca433e,131.142059
1,2019-09-05,26101800,133.768707,132.536556,134.083908,67f4c5b162961780ffca433f,132.870864
2,2019-09-06,20824500,132.861359,132.001715,133.892908,67f4c5b162961780ffca4340,133.749641

## There is more

In [267]:
# converting to pandas DataFrame
cursor = db.microsoft.find()
df = pd.DataFrame(cursor)
df.head()

,date,volume,close,low,high,_id,open
0,2019-09-04,17995900,131.457260,130.358829,131.514567,67f4c5b162961780ffca433e,131.142059
1,2019-09-05,26101800,133.768707,132.536556,134.083908,67f4c5b162961780ffca433f,132.870864
2,2019-09-06,20824500,132.861359,132.001715,133.892908,67f4c5b162961780ffca4340,133.749641
3,2019-09-09,25773900,131.352219,130.339762,133.482199,67f4c5b162961780ffca4341,133.329371
4,2019-09-10,28903400,129.976837,128.477244,130.750506,67f4c5b162961780ffca4342,130.664546

In [269]:
db.microsoft.count_documents({})

1259

In [271]:
# converting into Python list or tuple
data = list(db.microsoft.find())
data[0:5]

[{'date': datetime.datetime(2019, 9, 4, 0, 0),
  'volume': 17995900,
  'close': 131.45726013183594,
  'low': 130.35882921332006,
  'high': 131.5145667829114,
  '_id': ObjectId('67f4c5b162961780ffca433e'),
  'open': 131.14205897649285},
 {'date': datetime.datetime(2019, 9, 5, 0, 0),
  'volume': 26101800,
  'close': 133.76870727539062,
  'low': 132.5365561031794,
  'high': 134.08390839910913,
  '_id': ObjectId('67f4c5b162961780ffca433f'),
  'open': 132.87086430014872},
 {'date': datetime.datetime(2019, 9, 6, 0, 0),
  'volume': 20824500,
  'close': 132.86135864257812,
  'low': 132.00171497677266,
  'high': 133.89290772245502,
  '_id': ObjectId('67f4c5b162961780ffca4340'),
  'open': 133.74964106536964},
 {'date': datetime.datetime(2019, 9, 9, 0, 0),
  'volume': 25773900,
  'close': 131.3522186279297,
  'low': 130.33976206353327,
  'high': 133.48219882893903,
  '_id': ObjectId('67f4c5b162961780ffca4341'),
  'open': 133.32937134672764},
 {'date': datetime.datetime(2019, 9, 10, 0, 0),
  'volume': 28903400,
  'close': 129.97683715820312,
  'low': 128.47724439239383,
  'high': 130.75050646563443,
  '_id': ObjectId('67f4c5b162961780ffca4342'),
  'open': 130.6645464480165}]

In [273]:
# list to pandas DataFrame
data = list(db.microsoft.find())
df = pd.DataFrame(data)
df.head()

,date,volume,close,low,high,_id,open
0,2019-09-04,17995900,131.457260,130.358829,131.514567,67f4c5b162961780ffca433e,131.142059
1,2019-09-05,26101800,133.768707,132.536556,134.083908,67f4c5b162961780ffca433f,132.870864
2,2019-09-06,20824500,132.861359,132.001715,133.892908,67f4c5b162961780ffca4340,133.749641
3,2019-09-09,25773900,131.352219,130.339762,133.482199,67f4c5b162961780ffca4341,133.329371
4,2019-09-10,28903400,129.976837,128.477244,130.750506,67f4c5b162961780ffca4342,130.664546

In [275]:
# using Next()
cursor = db.microsoft.find()
cursor.next()

{'date': datetime.datetime(2019, 9, 4, 0, 0),
 'volume': 17995900,
 'close': 131.45726013183594,
 'low': 130.35882921332006,
 'high': 131.5145667829114,
 '_id': ObjectId('67f4c5b162961780ffca433e'),
 'open': 131.14205897649285}

In [277]:
# Looping
cursor = db.microsoft.find()
for doc in cursor[0:5]:
    print(doc)

{'date': datetime.datetime(2019, 9, 4, 0, 0), 'volume': 17995900, 'close': 131.45726013183594, 'low': 130.35882921332006, 'high': 131.5145667829114, '_id': ObjectId('67f4c5b162961780ffca433e'), 'open': 131.14205897649285}
{'date': datetime.datetime(2019, 9, 5, 0, 0), 'volume': 26101800, 'close': 133.76870727539062, 'low': 132.5365561031794, 'high': 134.08390839910913, '_id': ObjectId('67f4c5b162961780ffca433f'), 'open': 132.87086430014872}
{'date': datetime.datetime(2019, 9, 6, 0, 0), 'volume': 20824500, 'close': 132.86135864257812, 'low': 132.00171497677266, 'high': 133.89290772245502, '_id': ObjectId('67f4c5b162961780ffca4340'), 'open': 133.74964106536964}
{'date': datetime.datetime(2019, 9, 9, 0, 0), 'volume': 25773900, 'close': 131.3522186279297, 'low': 130.33976206353327, 'high': 133.48219882893903, '_id': ObjectId('67f4c5b162961780ffca4341'), 'open': 133.32937134672764}
{'date': datetime.datetime(2019, 9, 10, 0, 0), 'volume': 28903400, 'close': 129.97683715820312, 'low': 128.47724439239383, 'high': 130.75050646563443, '_id': ObjectId('67f4c5b162961780ffca4342'), 'open': 130.6645464480165}

In [279]:
# Specifying slice by index
cursor = db.microsoft.find()
cursor[0]

{'date': datetime.datetime(2019, 9, 4, 0, 0),
 'volume': 17995900,
 'close': 131.45726013183594,
 'low': 130.35882921332006,
 'high': 131.5145667829114,
 '_id': ObjectId('67f4c5b162961780ffca433e'),
 'open': 131.14205897649285}

In [341]:
cursor = db.microsoft.find()
cursor[0:1]

In [343]:
import pymongo
pymongo.version

'4.11'

In [345]:
db.microsoft.find_one()

{'date': datetime.datetime(2019, 9, 4, 0, 0),
 'volume': 17995900,
 'close': 131.45726013183594,
 'low': 130.35882921332006,
 'high': 131.5145667829114,
 '_id': ObjectId('67f4c5b162961780ffca433e'),
 'open': 131.14205897649285}

In [42]:
# start_date = (datetime.datetime.today() -
#         datetime.timedelta(weeks=52*10)).strftime('%Y-%m-%d')
# end_date = datetime.datetime.today().strftime('%Y-%m-%d')
# tickers = ['MSFT','AAPL']

In [43]:
# dt = web.DataReader(name=tickers,
#                     data_source='yahoo',
#                     start=start_date,
#                     end=end_date)['Adj Close']
# dt.tail(2)

Using `get_data_yahoo()`

In [44]:
# dt = web.get_data_yahoo(tickers)['Adj Close']
# dt.tail(2)

# Recipe 5: Reading data from Time Series Database (InfluxDB)
> "For this recipe, we will be using the National Oceanic and Atmospheric Administration (NOAA) water sample data provided by InfluxDB. For instructions on how to load the sample data, please refer to the InfluxDB official documentation at https://docs.influxdata.com/influxdb3/enterprise/reference/sample-data/ "

### InfluxDB

In [51]:
# version 3
from influxdb_client_3 import InfluxDBClient3

token= 'apiv3_Ee_uB-Z50N3NjVHS65kurr-11I1v8SRyd2Fe_-rriqlkdr4vXSA-H5BoiY_z8HOj83cGRVG0dFf_Sb4hAYhOWQ'
client = InfluxDBClient3(host="http://localhost:8181",
                         database="NOAA",
                         token=token)

In [53]:
query = 'SELECT * FROM weather'

df = client.query(query=query, language="sql", mode='pandas')
print(df.head())

  location  precip  temp_avg  temp_max  temp_min       time  wind_avg
0  Concord     0.0      52.0      66.0      44.0 2020-01-01      3.13
1  Concord     0.0      53.0      66.0      42.0 2020-01-02      3.13
2  Concord     0.0      49.0      60.0      38.0 2020-01-03      2.68
3  Concord     0.0      51.0      61.0      41.0 2020-01-04      4.25
4  Concord     0.0      49.0      61.0      38.0 2020-01-05      4.70

In [55]:
table = client.query(query=query, language="sql", mode='all')
type(table)

pyarrow.lib.Table

In [57]:
table.schema.names

['location', 'precip', 'temp_avg', 'temp_max', 'temp_min', 'time', 'wind_avg']

In [59]:
table.schema.types

[DataType(string),
 DataType(double),
 DataType(double),
 DataType(double),
 DataType(double),
 TimestampType(timestamp[ns]),
 DataType(double)]

In [61]:
df = table.to_pandas()
df.head()

  location  precip  temp_avg  temp_max  temp_min       time  wind_avg
0  Concord     0.0      52.0      66.0      44.0 2020-01-01      3.13
1  Concord     0.0      53.0      66.0      42.0 2020-01-02      3.13
2  Concord     0.0      49.0      60.0      38.0 2020-01-03      2.68
3  Concord     0.0      51.0      61.0      41.0 2020-01-04      4.25
4  Concord     0.0      49.0      61.0      38.0 2020-01-05      4.70

In [63]:
client.close()

In [65]:
query = 'SELECT * FROM weather'
with InfluxDBClient3(host="http://localhost:8181",
                     database="NOAA",
                     token=token) as client:
    df = client.query(query=query, language="sql", mode='pandas')
df.head()

  location  precip  temp_avg  temp_max  temp_min       time  wind_avg
0  Concord     0.0      52.0      66.0      44.0 2020-01-01      3.13
1  Concord     0.0      53.0      66.0      42.0 2020-01-02      3.13
2  Concord     0.0      49.0      60.0      38.0 2020-01-03      2.68
3  Concord     0.0      51.0      61.0      41.0 2020-01-04      4.25
4  Concord     0.0      49.0      61.0      38.0 2020-01-05      4.70

### TimescaleDB

In [624]:
import psycopg2

In [626]:
import pandas as pd
from sqlalchemy import create_engine

engine =\
    create_engine("postgresql+psycopg2://postgres:password@localhost:5432/postgres")

engine

Engine(postgresql+psycopg2://postgres:***@localhost:5432/postgres)

In [630]:
from sqlalchemy import URL, create_engine

In [632]:
import sqlalchemy

In [634]:
sqlalchemy.__version__

'2.0.40'

In [636]:
# !conda install conda-forge::psycopg2 -y

In [638]:
import pandas as pd
from sqlalchemy import create_engine

engine =\
    create_engine("postgresql+psycopg2://postgres:password@localhost:5432/postgres")
query = "SELECT * FROM msft"
df = pd.read_sql(query,
                 engine,
                 index_col='date',
                 parse_dates={'date': '%Y-%m-%d'})

print(df.head())

                 open       high        low      close    volume
date
2019-09-04  131.14206  131.51457  130.35883  131.45726  17995900
2019-09-05  132.87086  134.08391  132.53656  133.76870  26101800
2019-09-06  133.74963  133.89291  132.00171  132.86136  20824500
2019-09-09  133.32938  133.48220  130.33977  131.35222  25773900
2019-09-10  130.66455  130.75050  128.47725  129.97684  28903400

## TDEngine

In [525]:
import taosrest
import pandas as pd

conn = taosrest.connect(url='http://localhost:6041')
# test the connection by getting version info
print("server version:", conn.server_info)

server version: 3.3.6.0

In [560]:
# client = RestClient('localhost')
# !pip install 'taospy[ws]'

user='root'
password='taosdata'
url='http://localhost:6041'

conn = taosrest.connect(
    user=user,
    password=password,
    url=url
)

In [564]:
query = """
SELECT * 
FROM test.meters 
WHERE location = 'California.LosAngles' 
LIMIT 100000;
"""
results = conn.query(query)

In [565]:
results.fields
cols = [col['name'] for col in results.fields ]

In [566]:
results.field_count

6

In [588]:
print(results.rows)
results.fields

100000

[{'name': 'ts', 'type': 'TIMESTAMP', 'bytes': 8},
 {'name': 'current', 'type': 'FLOAT', 'bytes': 4},
 {'name': 'voltage', 'type': 'INT', 'bytes': 4},
 {'name': 'phase', 'type': 'FLOAT', 'bytes': 4},
 {'name': 'groupid', 'type': 'INT', 'bytes': 4},
 {'name': 'location', 'type': 'VARCHAR', 'bytes': 24}]

In [584]:
results.column_meta

[['ts', 'TIMESTAMP', 8],
 ['current', 'FLOAT', 4],
 ['voltage', 'INT', 4],
 ['phase', 'FLOAT', 4],
 ['groupid', 'INT', 4],
 ['location', 'VARCHAR', 24]]

In [556]:
df = pd.DataFrame(results.data, columns=cols)
df = df.set_index('ts')
print(df.head())

                          current  voltage  phase  groupid  \
ts
2017-07-14 05:40:00.000  6.835898      243  147.0        7
2017-07-14 05:40:00.001  6.901521      234  149.0        7
2017-07-14 05:40:00.002  6.868210      251  147.0        7
2017-07-14 05:40:00.003  6.635974      248  146.0        7
2017-07-14 05:40:00.004  6.604824      257  149.5        7

                                     location
ts
2017-07-14 05:40:00.000  California.LosAngles
2017-07-14 05:40:00.001  California.LosAngles
2017-07-14 05:40:00.002  California.LosAngles
2017-07-14 05:40:00.003  California.LosAngles
2017-07-14 05:40:00.004  California.LosAngles

In [558]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100000 entries, 2017-07-14 05:40:00 to 2017-07-14 05:40:05.903000
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   current   100000 non-null  float64
 1   voltage   100000 non-null  int64
 2   phase     100000 non-null  float64
 3   groupid   100000 non-null  int64
 4   location  100000 non-null  object
dtypes: float64(2), int64(2), object(1)
memory usage: 4.6+ MB

In [641]:
conn.close()

## How it works

In [696]:
chunk = client.query(query=query, language="sql", mode='chunk')
type(chunk)

pyarrow._flight.FlightStreamReader

In [698]:
chunk = client.query(query=query, language="sql", mode='all')
type(chunk)

pyarrow.lib.Table

In [700]:
chunk = client.query(query=query, language="sql", mode='reader')
type(chunk)

pyarrow.lib.RecordBatchReader

## There is more

In [727]:
import os
os.environ["ACERO_ALIGNMENT_HANDLING"] = "ignore"

In [43]:
# Group weather data by location and calculate average temperature
query = "select * from weather"
table = client.query(query=query, language="sql", mode='all')
location_avg_temps = table.group_by('location').aggregate([('temp_avg', 'mean')])
print(location_avg_temps)

pyarrow.Table
location: string
temp_avg_mean: double
----
location: [["San Francisco","Concord","Hayward"]]
temp_avg_mean: [[58.238138686131386,61.52098540145985,58.81204379562044]]

/Users/runner/work/crossbow/crossbow/arrow/cpp/src/arrow/acero/source_node.cc:76: An input buffer was poorly aligned.  This could lead to crashes or poor performance on some hardware.  Please ensure that all Acero sources generate aligned buffers, or change the unaligned buffer handling configuration to silence this warning.
/Users/runner/work/crossbow/crossbow/arrow/cpp/src/arrow/acero/source_node.cc:76: An input buffer was poorly aligned.  This could lead to crashes or poor performance on some hardware.  Please ensure that all Acero sources generate aligned buffers, or change the unaligned buffer handling configuration to silence this warning.
/Users/runner/work/crossbow/crossbow/arrow/cpp/src/arrow/acero/source_node.cc:76: An input buffer was poorly aligned.  This could lead to crashes or poor performance on some hardware.  Please ensure that all Acero sources generate aligned buffers, or change the unaligned buffer handling configuration to silence this warning.
/Users/runner/work/crossbow/crossbow/arrow/cpp/src/arrow/acero/source_node.cc:76: An input buffer was poorly aligned.  This could lead to crashes or poor performance on some hardware.  Please ensure that all Acero sources generate aligned buffers, or change the unaligned buffer handling configuration to silence this warning.
/Users/runner/work/crossbow/crossbow/arrow/cpp/src/arrow/acero/source_node.cc:76: An input buffer was poorly aligned.  This could lead to crashes or poor performance on some hardware.  Please ensure that all Acero sources generate aligned buffers, or change the unaligned buffer handling configuration to silence this warning.
/Users/runner/work/crossbow/crossbow/arrow/cpp/src/arrow/acero/source_node.cc:76: An input buffer was poorly aligned.  This could lead to crashes or poor performance on some hardware.  Please ensure that all Acero sources generate aligned buffers, or change the unaligned buffer handling configuration to silence this warning.
/Users/runner/work/crossbow/crossbow/arrow/cpp/src/arrow/acero/source_node.cc:76: An input buffer was poorly aligned.  This could lead to crashes or poor performance on some hardware.  Please ensure that all Acero sources generate aligned buffers, or change the unaligned buffer handling configuration to silence this warning.

In [45]:
# Query with reader mode for memory efficiency
reader = client.query(query=query, language="sql", mode='reader')

# Process data in batches
total_rows = 0
sum_temp = 0

for batch in reader:
    df = batch.to_pandas()
    total_rows += len(df)
    sum_temp += df['temp_avg'].sum()
    
avg_temp = sum_temp / total_rows
print(f"Average temperature across {total_rows} records: {avg_temp:.2f} F")

Average temperature across 3288 records: 59.52 F