# Chapter 6
## Working with Date and Time in Python

This chapter takes a practical and intuitive approach to an intimidating topic. You will learn how to deal with the complexity of dates and time in your time series data. The chapter illustrates practical use cases for handling time zones, custom holidays, and business days, working with Unix epoch and UTC. Typically, this intimidating topic is presented in a fun and practical way that you will find helpful to apply right away.

Here is the list of the recipes that we will cover in this chapter:

* Working with `DatetimeIndex`
* Providing a format argument to DateTime
* Working with Unix epoch timestamps
* Working with time deltas
* Converting DateTime with time zone information
* Working with date offsets
* Working with custom business days

# Technical Requirements

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
pd.__version__

# Recipe 1: Working with `DatetimeIndex`
* In this recipe, you will explore Python's datetime module and learn about the Timestamp and DatetimeIndex classes and the relationship between them.

#### Python's `Datetime`, pandas `Timestamp`, and `panda.to_datetime()`

In [ ]:
dt.datetime

In [ ]:
dt1 = dt.datetime(2021,1,1)
dt2 = pd.Timestamp('2021-1-1')
dt3 = pd.to_datetime('2021-1-1')

In [ ]:
dt4 = pd.DatetimeIndex(['2021-1-1'])

In [ ]:
print(dt4)

In [ ]:
print(dt1)
print(dt2)
print(dt3)

In [ ]:
print(type(dt1))
print(type(dt2))
print(type(dt3))
print(type(dt4))

In [ ]:
dt1 == dt2 == dt3

In [ ]:
dt.datetime(2021,1,1) == pd.to_datetime('2021-1-1')

In [ ]:
isinstance(dt2, dt.datetime)

In [ ]:
isinstance(dt2, pd.Timestamp)

In [ ]:
isinstance(dt1, pd.Timestamp)

In [ ]:
isinstance(dt4[0], dt.datetime)

In [ ]:
isinstance(dt4, pd.DatetimeIndex)

In [ ]:
isinstance(pd.DatetimeIndex, dt.datetime)

In [ ]:
issubclass(pd.Timestamp, dt.datetime)
# isinstance(dt1, pd.Timestamp)

####  `pandas.to_datetime()`

In [ ]:
dates = ['2021-1-1', '2021-1-2']
pd_dates = pd.to_datetime(dates)
print(pd_dates)
print(type(pd_dates))

In [ ]:
isinstance(pd_dates[0], pd.Timestamp)

In [ ]:
print(pd_dates[0])
print(type(pd_dates[0]))

In [ ]:
dates = ['2021-01-01', # date str format %Y-%m-%d
         '2/1/2021', # date str format %m/%d/%Y
         '03-01-2021', # date  str format %m-%d-%Y
         'April 1, 2021', # date  str format %B %d, %Y
         '20210501', # date str format %Y%m%d
          np.datetime64('2021-07-01'), # numpy datetime64
          dt.datetime(2021, 8, 1), # python datetime
          pd.Timestamp(2021,9,1) # pandas Timestamp
          ]

In [ ]:
parsed_dates = pd.to_datetime(
                 dates,
                 #infer_datetime_format=True,
                 errors='coerce'
                 )

print(parsed_dates)

In [ ]:
pd.DatetimeIndex(dates)

In [ ]:
pd.DatetimeIndex(dates) == parsed_dates

In [ ]:
parsed_dates = pd.DatetimeIndex(dates)
parsed_dates

In [ ]:
print(f'Name of Day : {parsed_dates.day_name()}')
print(f'Month : {parsed_dates.month}')
print(f'Month Name: {parsed_dates.month_name()}')
print(f'Year : {parsed_dates.year}')
print(f'Days in Month : {parsed_dates.days_in_month}')
print(f'Quarter {parsed_dates.quarter}')
print(f'Is Quarter Start : {parsed_dates.is_quarter_start}')
print(f'Days in Month: {parsed_dates.days_in_month}')
print(f'Is Leap Year : {parsed_dates.is_leap_year}')
print(f'Is Month Start : {parsed_dates.is_month_start}')
print(f'Is Month End : {parsed_dates.is_month_end}')
print(f'Is Year Start : {parsed_dates.is_year_start}')

## How it works

In [ ]:
# Expected warning below for infereing the format 
example = pd.to_datetime(['something 2021', 'Jan 1, 2021'], errors='ignore')
example

In [ ]:
len(example)

In [ ]:
type(example)

## There is more

In [ ]:
pd.date_range(start='2021-01-01', periods=3, freq='D')

In [ ]:
pd.date_range(start='2021-01-01',
               end='2021-01-03',
               freq='D')

In [ ]:
pd.date_range(start='2021-01-01',
               periods=3)

In [ ]:
df.shape

In [ ]:
# Example of error

# pd.date_range(start='2021-01-01',
#                freq='D')

In [ ]:
df = pd.DataFrame(pd.date_range(start='2021-01-01',
               periods=5), columns=['Date'])

df['days_in_month'] = df['Date'].dt.days_in_month
df['day_name'] = df['Date'].dt.day_name()
df['month'] = df['Date'].dt.month
df['month_name'] = df['Date'].dt.month_name()
df['year'] = df['Date'].dt.year
df['days_in_month'] = df['Date'].dt.days_in_month
df['quarter'] = df['Date'].dt.quarter
df['is_quarter_start'] = df['Date'].dt.is_quarter_start
df['days_in_month'] = df['Date'].dt.days_in_month
df['is_leap_year'] = df['Date'].dt.is_leap_year
df['is_month_start'] = df['Date'].dt.is_month_start
df['is_month_end'] = df['Date'].dt.is_month_end
df['is_year_start'] = df['Date'].dt.is_year_start
df

# Recipe 2: Providing a format argument to DateTime

In [ ]:
import pandas as pd
import datetime as dt

In [ ]:
dt.datetime.strptime('1/1/2022', '%m/%d/%Y')

Using Python `datetime.strptime()`

In [ ]:
dt.datetime.strptime('1/1/2022', '%m/%d/%Y').date()

In [ ]:
dt.datetime.strptime('1 January, 2022', '%d %B, %Y').date()

In [ ]:
dt.datetime.strptime('1-Jan-2022', '%d-%b-%Y').date()

In [ ]:
dt.datetime.strptime('Saturday, January 1, 2022', '%A, %B %d, %Y').date()

In [ ]:
dt_1 = dt.datetime.strptime('1/1/2022', '%m/%d/%Y')
dt_1.__str__()
str(dt_1)

In [ ]:
print(dt_1)

Using `pandas.to_datetime()`

In [ ]:
pd.to_datetime('1/1/2022', format='%m/%d/%Y')

In [ ]:
pd.to_datetime('1 January, 2022', format='%d %B, %Y')

In [ ]:
pd.to_datetime('1-Jan-2022', format='%d-%b-%Y')

In [ ]:
pd.to_datetime('Saturday, January 1, 2022', format='%A, %B %d, %Y')

In [ ]:
dt_2 = pd.to_datetime('1/1/2022', format='%m/%d/%Y')
print(dt_2)

In [ ]:
pd.to_datetime('1-Jan-2022')

In [ ]:
pd.to_datetime('Saturday, January 1, 2022')

In [ ]:
str(dt_2)
dt_2.__str__()

In [ ]:
dt_1 == dt_2

In [ ]:
dt_1.date()

In [ ]:
dt_2.date()

In [ ]:
type(dt_1)
type(dt_2)

In [ ]:
isinstance(pd.DatetimeIndex, pd.Timestamp)

In [ ]:
isinstance(dt_1, dt.datetime)

In [ ]:
isinstance(dt_2, dt.datetime)

In [ ]:
isinstance(dt_1, pd.Timestamp)

In [ ]:
isinstance(dt_2, pd.Timestamp)

In [ ]:
issubclass(pd.Timestamp, dt.datetime)

### Using Ignore example

In [ ]:
pd.to_datetime(['something 2021', 'Jan 1, 2021'], 
               errors='ignore')

### Tranforming a pandas DataFrame to a time series DataFrame

In [ ]:
pd.DataFrame({'missing types' : [pd.NaT, pd.NA, np.NaN, None]})

## There is more

In [ ]:
df = pd.DataFrame(
        {'Date': ['January 1, 2022', 'January 2, 2022', 'January 3, 2022'],
         'Sales': [23000, 19020, 21000]}
            )
df

In [ ]:
df.info()

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df.info()

# Recipe 3: Working with Unix epoch timestamps

In [ ]:
import time
epoch_time = time.time()
print(epoch_time)
print(type(epoch_time))

In [ ]:
import pandas as pd
t = pd.to_datetime(1700596942.589581, unit='s')
print(t)

In [ ]:
t = pd.to_datetime(1700596942.589581, unit='s', )

In [ ]:
t.tz_localize('UTC').tz_convert('US/Pacific')

In [ ]:
df = pd.DataFrame(
        {'unix_epoch': [1641110340,  1641196740, 1641283140, 1641369540],
                'Sales': [23000, 19020, 21000, 17030]}
                )
df

In [ ]:
df['Date'] = pd.to_datetime(df['unix_epoch'], unit='s')
df['Date'] = df['Date'].dt.tz_localize('UTC').dt.tz_convert('US/Pacific')
df.set_index('Date', inplace=True)
df

In [ ]:
df.info()

In [ ]:
df.index.date

In [ ]:
df.info()

In [ ]:
df.index

In [ ]:
t = pd.to_datetime(1635220133.855169, unit='s', origin='unix')
t

In [ ]:
t = pd.to_datetime(45, unit='D', origin='2023-1-1')
t

## There is more

In [ ]:
df = pd.DataFrame(
        {'Date': pd.date_range('01-01-2022', periods=5),
        'order' : range(5)}
                 )
df

In [ ]:
df['Unix Time'] = (df['Date'] -  pd.Timestamp("1970-01-01")) // pd.Timedelta("1s")
df

In [ ]:
# convert it back
pd.to_datetime(df['Unix Time'], unit='s')

# Recipe 4: Working with Time Deltas

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
        {       
        'item': ['item1', 'item2', 'item3', 'item4', 'item5', 'item6'],
        'purchase_dt': pd.date_range('2021-01-01', periods=6, freq='D', tz='UTC')
        }
)
df

In [ ]:
df['expiration_dt'] = df['purchase_dt'] + pd.Timedelta(days=30)
df

In [ ]:
df['extended_dt'] = df['purchase_dt'] +\
                pd.Timedelta('35 days 12 hours 30 minutes')
df

In [ ]:
df.iloc[:,1:] = df.iloc[: ,1:].apply(
            lambda x: x.dt.tz_convert('US/Pacific')
                )
df

In [ ]:
df['exp_ext_diff'] = (
         df['extended_dt'] - df['expiration_dt']
        )
df

In [ ]:
df['test'] = pd.Timedelta(days=30)
df

In [ ]:
tds = pd.to_timedelta(['1 day', '5 days', '10 days 6 hours'])
tds

In [ ]:
pd.to_timedelta(range(5), unit='W')

In [ ]:
df['purchase_dt']

### Python datetime.timedelta vs pd.Timedelta

In [ ]:
import datetime as dt

In [ ]:
dt.timedelta(days=1)

In [ ]:
pd.Timedelta(days=1) == dt.timedelta(days=1)

In [ ]:
dt_1 = pd.Timedelta(days=1)
dt_2 = dt.timedelta(days=1)
isinstance(pd.Timedelta, dt.timedelta)

In [ ]:
isinstance(dt_1, dt.timedelta)

In [ ]:
isinstance(dt_1, pd.Timedelta)

In [ ]:
issubclass(pd.Timedelta, dt.timedelta)

In [ ]:
issubclass(dt.timedelta, pd.Timedelta)

In [ ]:
pd.Timedelta(days = 1, hours = 12)

In [ ]:
pd.Timedelta('10 U')

In [ ]:
pd.Timedelta(days=1, hours=12, minutes=55)

In [ ]:
pd.Timedelta('1 day 12 hours 55 minutes')

In [ ]:
pd.Timedelta('1D 12H 55T')

In [ ]:
dt_1.min

In [ ]:
2*dt_1

In [ ]:
week_td = pd.Timedelta('1W')
pd.to_datetime('1 JAN 2022') + week_td

In [ ]:
pd.to_datetime('1 JAN 2022') + 2*week_td

## There is more

In [ ]:
import pandas as pd

df = pd.DataFrame(
        {       
        'item': ['item1', 'item2', 'item3', 'item4', 'item5', 'item6'],
        'purchase_dt': pd.date_range('2021-01-01', periods=6, freq='D', tz='UTC')
        }
)
df

In [ ]:
df.info()

In [ ]:
df['1 week'] = pd.Timedelta('1W')

In [ ]:
df

In [ ]:
df['1_week_more'] = df['purchase_dt'] + df['1 week']
df['1_week_less'] = df['purchase_dt'] - df['1 week']
df

In [ ]:
df.info()

In [ ]:
pd.timedelta_range('1W 2 days', periods=5)

In [ ]:
df = pd.DataFrame(
        {       
        'item': ['item1', 'item2', 'item3', 'item4', 'item5'],
        'purchase_dt': pd.date_range('2021-01-01', periods=5, freq='D', tz='UTC'),
        'time_deltas': pd.timedelta_range('1W 2 days 6 hours', periods=5)
        }

)

In [ ]:
df

# Recipe 5: Converting Datetime with TimeZone information

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
        {       
        'Location': ['Los Angeles', 
                     'New York',
                     'Berlin', 
                     'New Delhi', 
                     'Moscow', 
                     'Tokyo', 
                     'Dubai'],
        'tz': ['US/Pacific', 
               'US/Eastern', 
               'Europe/Berlin', 
               'Asia/Kolkata', 
               'Europe/Moscow', 
               'Asia/Tokyo',
               'Asia/Dubai'],
        'visit_dt': pd.date_range(start='22:00',periods=7, freq='45min'),
        }).set_index('visit_dt')

In [ ]:
df

In [ ]:
df = df.tz_localize('UTC')
df

In [ ]:
df_hq = df.tz_convert('Asia/Tokyo')
df_hq

In [ ]:
df['local_dt'] = df.index
df['local_dt'] = df.apply(lambda x: pd.Timestamp.tz_convert(x['local_dt'], x['tz']), axis=1)
df

In [ ]:
df.apply(lambda x: pd.Timestamp.tz_convert(x['local_dt'], x['tz']), axis=1)

In [ ]:
pd.to_datetime(df['local_dt'], utc=True)

## There is More

In [ ]:
df = pd.DataFrame(
        {       
        'Location': ['Los Angeles', 
                     'New York',
                     'Berlin', 
                     'New Delhi', 
                     'Moscow', 
                     'Tokyo', 
                     'Dubai'],
        'tz': ['US/Pacific', 
               'US/Eastern', 
               'Europe/Berlin', 
               'Asia/Kolkata', 
               'Europe/Moscow', 
               'Asia/Tokyo',
               'Asia/Dubai'],
        'visit_dt': pd.date_range(start='22:00',periods=7, freq='45min'),
        }).set_index('visit_dt').tz_localize('UTC').tz_convert('Asia/Tokyo')
df

In [ ]:
df.index = df.index.strftime('%Y-%m-%d %H:%M %p')
df

In [ ]:
df.info()

# Recipe 6: Working with Date Offets

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
np.random.seed(10)
df = pd.DataFrame(
        {       
        'purchase_dt': pd.date_range('2021-01-01', periods=6, freq='D'),
        'production' : np.random.randint(4, 20, 6)
        }).set_index('purchase_dt')
df

In [ ]:
df['day'] = df.index.day_name()

In [ ]:
df

In [ ]:
df.reset_index().groupby(['purchase_dt', 'day']).sum()

In [ ]:
type(pd.offsets.BDay(0))

In [ ]:
df['BusinessDay'] = df.index - pd.offsets.BDay(0)
df['BDay Name'] = df['BusinessDay'].dt.day_name()
df

In [ ]:
df.groupby(['BusinessDay', 'BDay Name']).sum()

In [ ]:
df.groupby(['BusinessDay', 'BDay Name']).sum().plot.bar(rot=45)

In [ ]:
np.random.seed(10)
df = pd.DataFrame(
        {       
        'purchase_dt': pd.date_range('2021-01-01', periods=6, freq='D'),
        'production' : np.random.randint(4, 20, 6)
        }).set_index('purchase_dt')
df

In [ ]:
df['QuarterEnd'] = df.index + pd.offsets.QuarterEnd(0)
#df['BDay Name'] = df['BusinessDay'].dt.day_name()
df

In [ ]:
df['MonthEnd'] = df.index + pd.offsets.MonthEnd(0)
#df['BDay Name'] = df['BusinessDay'].dt.day_name()
df

In [ ]:
df['BusinessDay'] = df.index + pd.offsets.BDay(0)

In [ ]:
df

## There is More

In [ ]:
from pandas.tseries.holiday import (
    USFederalHolidayCalendar
)

df = pd.DataFrame(
        {       
        'purchase_dt': pd.date_range('2021-01-01', periods=6, freq='D'),
        'production' : np.random.randint(4, 20, 6)
        }).set_index('purchase_dt')
df

In [ ]:
USFederalHolidayCalendar.rules

In [ ]:
%time
df['USFederalHolidays'] = df.index + pd.offsets.CDay(calendar=USFederalHolidayCalendar())
df

In [ ]:
%time
def add_business_day(date):
    return date + CustomBusinessDay(calendar=USFederalHolidayCalendar())

df['USFederalHolidays'] = df.index.to_series().apply(add_business_day)
df

In [ ]:
from pandas.tseries.holiday import (
    Holiday,
    nearest_workday
)

In [ ]:
Holiday

In [ ]:
newyears = Holiday("New Years", 
                   month=1, 
                   day=1, 
                   observance=nearest_workday)
newyears

In [ ]:
df['NewYearsHoliday'] = df.index + pd.offsets.CDay(calendar=newyears)
df

In [ ]:
nearest_workday(pd.to_datetime('2021-1-3'))

# Recipe 7: Working with custom business days

In [42]:
import pandas as pd
from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday
from pandas.tseries.offsets import CustomBusinessDay

# Define a custom holiday calendar for Jordan's Independence Day
class JordanHolidayCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('Jordan Independence Day', month=5, day=25)
    ]

# Define the work week: Sunday to Thursday
jordan_workdays = "Sun Mon Tue Wed Thu"

# Create a CustomBusinessDay object with Jordan's workdays and holidays
jordan_bday = CustomBusinessDay(
    holidays=JordanHolidayCalendar().holidays(), 
    weekmask=jordan_workdays
)

In [43]:
jordan_bday.weekmask

'Sun Mon Tue Wed Thu'

In [44]:
jordan_bday.holidays[53]

numpy.datetime64('2023-05-25')

In [45]:
df = pd.DataFrame({'Date': pd.date_range('05-20-2023',periods=10, freq=jordan_bday)})
df

        Date
0 2023-05-21
1 2023-05-22
2 2023-05-23
3 2023-05-24
4 2023-05-28
5 2023-05-29
6 2023-05-30
7 2023-05-31
8 2023-06-01
9 2023-06-04

In [46]:
df['Day_name'] = df.Date.dt.day_name()
df

        Date   Day_name
0 2023-05-21     Sunday
1 2023-05-22     Monday
2 2023-05-23    Tuesday
3 2023-05-24  Wednesday
4 2023-05-28     Sunday
5 2023-05-29     Monday
6 2023-05-30    Tuesday
7 2023-05-31  Wednesday
8 2023-06-01   Thursday
9 2023-06-04     Sunday

### Custom Business Hours

In [65]:
b_hours = pd.offsets.BusinessHour()
b_hours

In [62]:
jordan_bhour = pd.offsets.CustomBusinessHour(
    start="8:30",
    end="15:30",
    holidays=JordanHolidayCalendar().holidays(), 
    weekmask=jordan_workdays)

In [63]:
# df['Date'] =\
#      df['Date'].dt.tz_localize('UTC').dt.tz_convert('Asia/Dubai')

In [64]:
start_datetime = '2023-05-24 08:00'
end_datetime = '2023-05-24 16:00'
business_hours = pd.date_range(start=start_datetime, end=end_datetime, freq=jordan_bhour)

print(business_hours)

DatetimeIndex(['2023-05-24 08:30:00', '2023-05-24 09:30:00',
               '2023-05-24 10:30:00', '2023-05-24 11:30:00',
               '2023-05-24 12:30:00', '2023-05-24 13:30:00',
               '2023-05-24 14:30:00'],
              dtype='datetime64[ns]', freq='CBH')